<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content class="mod-comp city-comp">
    <form [formGroup]="cityForm" (ngSubmit)="onAddCity()">
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Country</mat-label>
                    <input
                        type="text"
                        aria-label="Countries"
                        matInput
                        [readonly]="editable"
                        formControlName="country"
                        [matAutocomplete]="countries"
                    />
                </mat-form-field>
                <mat-autocomplete #countries="matAutocomplete">
                    <mat-option *ngIf="!filteredOptions['countries']" [value]="">
                        no options
                    </mat-option>
                    <mat-option
                        (onSelectionChange)="onCountryChange(option.id)"
                        *ngFor="let option of filteredOptions['countries']"
                        [value]="option.name"
                    >
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
                <p *ngIf="handlingFormErrors('country', validators.REQUIRED)">
                    *Required
                </p>
                <p *ngIf="handlingFormErrors('country', validators.PATTERN)">
                    Only alphabets
                </p>
                <p *ngIf="handlingFormErrors('country', validators.MINLENGTH)">
                    Must be 3 characters long
                </p>
                <p *ngIf="handlingFormErrors('country', validators.MAXLENGTH)">
                    Only 100 characters
                </p>
                <p class="ml-3" *ngIf="handlingFormErrors('country', validators.ISEXISTS)">
                    Please select from the list
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>State</mat-label>
                    <input
                        matInput
                        type="text"
                        aria-label="States"
                        matInput
                        [readonly]="editable"
                        formControlName="state"
                        [matAutocomplete]="states"
                    />
                </mat-form-field>
                <mat-autocomplete #states="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions['states']" [value]="option.name">
                        {{ option.name }}
                    </mat-option>
                    <mat-option *ngIf="!filteredOptions['states']" [value]="">
                        no options
                    </mat-option>
                </mat-autocomplete>
                <p *ngIf="handlingFormErrors('state', validators.REQUIRED)">
                    *Required
                </p>
                <p *ngIf="handlingFormErrors('state', validators.PATTERN)">
                    Only alphabets
                </p>
                <p *ngIf="handlingFormErrors('state', validators.MINLENGTH)">
                    Must be 3 characters long
                </p>
                <p *ngIf="handlingFormErrors('state', validators.MAXLENGTH)">
                    Only 100 characters
                </p>
                <p class="ml-3" *ngIf="handlingFormErrors('state', validators.ISEXISTS)">
                    Please select from the list
                </p>
                <p class="ml-3" *ngIf="handlingFormErrors('state', validators.NOTEXISTS)">
                    States not available for the above country
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>City Name</mat-label>
                    <input type="text" aria-label="Cities" matInput [readonly]="editable" formControlName="city" />
                </mat-form-field>
                <p *ngIf="handlingFormErrors('city', validators.REQUIRED)">
                    *Required
                </p>
                <p *ngIf="handlingFormErrors('city', validators.PATTERN)">
                    Only alphabets
                </p>
                <p *ngIf="handlingFormErrors('city', validators.MINLENGTH)">
                    Must be 3 characters long
                </p>
                <p *ngIf="handlingFormErrors('city', validators.MAXLENGTH)">
                    Only 100 characters
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Latitude</mat-label>
                    <input
                        matInput
                        type="text"
                        aria-label="latitude"
                        matInput
                        formControlName="latitude"
                        [readonly]="editable"
                    />
                </mat-form-field>
                <p *ngIf="handlingFormErrors('latitude', validators.REQUIRED)">
                    *Required
                </p>
                <p *ngIf="handlingFormErrors('latitude', validators.PATTERN)">
                    Must be in the range -90 to 90
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Longitude</mat-label>
                    <input
                        matInput
                        type="text"
                        aria-label="longitude"
                        matInput
                        formControlName="longitude"
                        [readonly]="editable"
                    />
                </mat-form-field>
                <p *ngIf="handlingFormErrors('longitude', validators.REQUIRED)">
                    *Required
                </p>
                <p *ngIf="handlingFormErrors('longitude', validators.PATTERN)">
                    Must be in the range -180 to 180
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <button mat-button (click)="onCancel()" class="btn btn-gray mr-2" type="button">Cancel</button>
                <button mat-button class="btn btn-blue mr-2" (click)="onEdit()" *ngIf="editable">Edit</button>
                <button mat-button class="btn btn-blue mr-2" type="submit" *ngIf="!editable">
                    {{ editMode ? 'Update' : 'Save' }}
                </button>
            </div>
        </div>
    </form>
</div>
