@import '~styles/variables';

.validation-info-container {
    color: #325992;
}

.validation-section {
    padding: 15px;
}

.validation-data {
    display: flex;
}

.section-heading {
    font-size: 18px;
    font-family: $font-family-Bold;
}

.expected-section {
    font-family: $font-family-Bold;
}

.validation-failed-message {
    color: #ff0000;
    font-family: $font-family-Bold;
}

.validation-passed-message {
    color: #325992;
    font-family: $font-family-Bold;
}
