<div class="row" id="forgot-password-container">
    <div class="col-md-5 pd-0 hidden-sm hidden-xs">
        <div class="section-wrap">
            <div class="section-left-wrap">
                <div id="login-logo-container">
                    <a routerLink="/">
                        <img src="{{ env.IMG_URL }}images/trustrace_logo_black.svg" alt="TrusTrace" />
                    </a>
                </div>
                <div class="section-left-wrap-header">
                    <h3 class="title">Trust Through Traceability</h3>
                    <p class="description">
                        {{
                            'Transform your supply chain and product portfolio to align with your sustainability goals'
                                | translate
                        }}.
                    </p>
                </div>
                <div class="signup-bg">
                    <img src="{{ env.IMG_URL }}images/generic-login.png" alt="TrusTrace" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-sm-12 col-xs-12 pd-0" id="forgot-password-form-inputs">
        <div class="center-block-section">
            <div class="center-block">
                <div class="mobile-section-wrap">
                    <div class="mobile-section-logo-wrap">
                        <div id="login-logo-container">
                            <a routerLink="/">
                                <img src="{{ env.IMG_URL }}images/trustrace_logo_black.svg" alt="TrusTrace" />
                            </a>
                        </div>
                        <div class="mobile-signup-bg">
                            <img src="{{ env.IMG_URL }}images/generic-login.png" alt="TrusTrace" />
                        </div>
                    </div>
                </div>
                <form
                    class="form-block"
                    id="forgot-password-form"
                    [formGroup]="forgotPasswordForm"
                    (ngSubmit)="onForgotPassword()"
                >
                    <mat-card class="example-card">
                        <mat-card-content>
                            <h4 class="forgot-password-title">
                                {{ 'Forgot / Change password' | translate }}
                            </h4>
                            <mat-form-field class="password-mat-form-field">
                                <mat-label class="form-field-label"
                                    >{{ 'Your Registered Email' | translate }}
                                    <span class="color-red">*</span>:</mat-label
                                >
                                <input
                                    matInput
                                    type="email"
                                    formControlName="emailId"
                                    placeholder="E.g. login@mybrand.com"
                                />
                            </mat-form-field>

                            <div class="button-block" id="reset-password-button-block">
                                <div class="button-block-center">
                                    <button
                                        class="btn btn-gradient login-btn send-email-button"
                                        (click)="analyticsSendAnEmailClicked()"
                                        type="submit"
                                        [disabled]="!forgotPasswordForm.valid || processing"
                                    >
                                        {{ 'Send an email' | translate }}
                                    </button>
                                    <div *ngIf="processing" class="material-loader">
                                        <mat-spinner class="material-spinner"></mat-spinner>
                                    </div>
                                </div>
                                <div class="forgot-password-info-text text-center">
                                    {{ 'Remember password' | translate }}?
                                    <a class="login-link" routerLink="/">{{ 'Login here' | translate }}</a>
                                </div>
                            </div>
                            <!-- Button Block -->
                        </mat-card-content>
                    </mat-card>
                </form>
            </div>
            <div id="footer-section">
                <span class="trustrace-info">
                    &copy; {{ currentYear }} TrusTrace.com
                    <div>
                        {{ 'For Help: Please contact' | translate }}
                        <b>
                            <a href="mailto:yoda@trustrace.com">
                                yoda@trustrace.com
                            </a>
                        </b>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>
