@import '~styles/variables';
@import '~styles/mixins';

.disable-privileges {
    pointer-events: none;
    opacity: 0.5;
}
#tooltip-delete-group {
    display: inline-block;
    font-family: $font-family-Regular;
    position: relative;
}
#tooltip-delete-group [disabled] {
    pointer-events: none;
    opacity: 0.5;
}
