.btn {
    float: right;
    background-color: #7affad;
    color: black;
}

.content-center {
    font-size: 2em;
    color: #a5a5a5;
    text-align: center;
    margin-top: 40px;
}

.pagination-progress {
    display: block;
    height: 100px;
    text-align: center;
    margin-top: 5em;
}
