<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <button type="button" mat-button [attr.data-count]="1" class="button-badge">
        <mat-select
            multiple
            panelClass="long-panel"
            disableOptionCentering="true"
            placeholder="{{ 'Parameter score' }}"
            formControlName="parameters"
        >
            <mat-select-trigger class="multi-select-label">
                {{ ' Parameter Score' | translate }}
            </mat-select-trigger>
            <div class="form-group sticky-search">
                <mat-icon class="search-icon" aria-hidden="false" aria-label="Search">search</mat-icon>

                <input
                    (keydown)="$event.stopPropagation()"
                    class="form-control"
                    type="search"
                    formControlName="searchControl"
                    placeholder="{{ 'Search' | translate }}"
                />
            </div>
            <div class="option-group">
                <div class="title">{{ 'Parameters' | translate }}:</div>
                <div class="list">
                    <ng-container *ngFor="let item of config?.options">
                        <mat-option class="option-list" [value]="item" [style.display]="!filtered(item) ? 'none' : ''">
                            {{ item }}
                        </mat-option>
                    </ng-container>
                    <mat-option class="option-list" disabled [value]="null" [style.display]="noOptions() ? 'none' : ''">
                        {{ 'No options found' | translate }}
                    </mat-option>
                </div>
                <div class="actions">
                    <button (click)="clearAll(); onSubmit()" type="button" mat-button>
                        {{ 'Clear all' | translate }}
                    </button>
                    <button (click)="selectAll(); onSubmit()" type="submit" mat-button class="green-btn">
                        {{ 'Select all' | translate }}
                    </button>
                </div>
                <div class="slider-container">
                    <div class="title">{{ 'Scores' | translate }}:</div>
                    <div class="group">
                        <div>1</div>
                        <div>1.5</div>
                        <div>2</div>
                        <div>2.5</div>
                        <div>3</div>
                        <div>3.5</div>
                        <div>4</div>
                        <div>4.5</div>
                        <div>5</div>
                    </div>
                    <input formControlName="slider" type="range" class="slider" step="0.5" min="1" max="5.0" />
                </div>
            </div>
        </mat-select>
    </button>
</form>
