<div class="view-container">
    <div class="container-fluid">
        <app-full-page-loader *ngIf="pageLoading"></app-full-page-loader>

        <div id="task-manager-container" class="task-manager-container">
            <div id="task-manager-header" class="row header no-border">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-search pt-3">
                    <div class="page-title">
                        <div>{{ 'Tasks ' | translate }}</div>
                        <div class="page-description">
                            {{ 'New Tasks' | translate }} : {{ newTaskCount }} | {{ 'Total Tasks' | translate }} :
                            {{ totalTasks }}
                        </div>
                    </div>
                </div>
            </div>

            <div id="filter-bar-wrapper" class="row filter-bar-wrapper" *ngIf="taskFilters">
                <div class="col-md-12">
                    <ul class="filter-bar-container">
                        <li>
                            <app-tt-date-filter
                                (selectionChange)="handleFilterSelection()"
                                (refreshFilter)="refreshFilter()"
                                [filter_session]="getSession().filter"
                                [label]="'Date'"
                                className="date-filter-bar"
                                arrowIcon="arrow_drop_down"
                            >
                            </app-tt-date-filter>
                        </li>
                        <li *ngFor="let filter of taskFilters | keys; let filterInd = index">
                            <app-tt-multi-select-search
                                (selectionChange)="handleFilterSelection()"
                                (refreshFilter)="refreshFilter()"
                                [label]="filter.key"
                                [options]="filter.value"
                                [filter_session]="getSession().filter"
                                [optionsParam]="optionsParam"
                                *ngIf="!isAGroup(filter.value)"
                                [data_cy]="removeSpace(filter.key)"
                            >
                            </app-tt-multi-select-search>
                        </li>
                        <li class="reset-filters">
                            <button
                                class="button-badge mat-button btn btn-gray"
                                (click)="resetAllFilters()"
                                data-cy="po-management-reset-all-filters"
                            >
                                {{ 'Reset all filters' | translate }}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- filter-bar-wrapper -->

            <div class="col-md-12 pd-0">
                <div class="tt-tabs pb-2">
                    <div class="cursor-default" (click)="navigateTo()">
                        <label class="cursor-pointer" [ngClass]="{ active: activeTab === null }">
                            {{ 'Pending Tasks' | translate }}
                        </label>
                    </div>
                    <div class="cursor-default" (click)="navigateTo(tabNames[1])">
                        <label class="cursor-pointer" [ngClass]="{ active: activeTab === tabNames[1] }">
                            <span>{{ 'Completed Tasks' | translate }}</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="task-manager-body">
                <div class="task-manager-table">
                    <div class="row">
                        <div class="col-md-12 pd-0">
                            <div class="table-container">
                                <div class="table-responsive">
                                    <table class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th>{{ 'S.No' | translate }}</th>
                                                <!-- <th>{{ 'Working Number' | translate }}</th> -->
                                                <th>{{ 'Task Description' | translate }}</th>
                                                <!-- <th>{{ 'Tier' | translate }}</th> -->
                                                <th>{{ 'Supplier' | translate }}</th>
                                                <!-- <th>{{ 'Supplier Code' | translate }}</th>
                                                <th>{{ 'Supplier COO' | translate }}</th> -->
                                                <th>{{ 'Facility' | translate }}</th>
                                                <!-- <th>{{ 'Facility Code' | translate }}</th>
                                                <th>{{ 'Facility COO' | translate }}</th> -->
                                                <th>{{ 'Requested Date' | translate }}</th>
                                                <th *ngIf="activeTab === tabNames[1]">
                                                    {{ 'Completed Date' | translate }}
                                                </th>
                                                <th>{{ 'Request Type' | translate }}</th>
                                                <th *ngIf="activeTab === tabNames[1]">{{ 'Status' | translate }}</th>
                                                <th id="reviewer" *ngIf="activeTab === tabNames[1]">
                                                    {{ 'Reviewer Name' | translate }}
                                                </th>
                                                <th *ngFor="let field of customFieldDisplayList">
                                                    {{ field.name }}
                                                </th>
                                                <th *ngIf="checkAccess('TASK_MANAGER_CREATE')" id="taskAction">
                                                    {{ 'Action' | translate }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <p
                                                    class="content-center"
                                                    *ngIf="!isFetchingTasks && tasks.length === 0"
                                                >
                                                    {{ 'No request available' | translate }}
                                                </p>
                                            </tr>
                                            <tr>
                                                <p class="content-center" *ngIf="isFetchingTasks">
                                                    <app-spinner [small]="true"></app-spinner>
                                                </p>
                                            </tr>
                                            <tr *ngFor="let task of tasks; let i = index">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <!-- <td *ngIf="task.working_number; else notAvailable">
                                                    <span [matTooltip]="task.working_number">{{
                                                        task.working_number
                                                    }}</span>
                                                </td> -->
                                                <td *ngIf="task.description; else notAvailable">
                                                    {{ task.description }}
                                                </td>
                                                <!-- <td *ngIf="task.tier; else notAvailable">
                                                    {{ tiers[task.tier] }}
                                                </td> -->
                                                <td
                                                    *ngIf="
                                                        task.from_company && task.from_company.name;
                                                        else notAvailable
                                                    "
                                                >
                                                    {{ task.from_company.name }}
                                                </td>
                                                <!-- <td
                                                    *ngIf="
                                                        task.supplier_code && task.supplier_code !== null;
                                                        else notAvailable
                                                    "
                                                >
                                                    {{ task.supplier_code }}
                                                </td>
                                                <td
                                                    *ngIf="
                                                        task.supplier_coo && task.supplier_coo !== null;
                                                        else notAvailable
                                                    "
                                                >
                                                    {{ task.supplier_coo }}
                                                </td> -->
                                                <td
                                                    *ngIf="
                                                        task.facility && task.facility.name !== null;
                                                        else notAvailable
                                                    "
                                                >
                                                    {{ task.facility.name }}
                                                </td>
                                                <!-- <td
                                                    *ngIf="
                                                        task.facility && task.facility.code !== null;
                                                        else notAvailable
                                                    "
                                                >
                                                    {{ task.facility.code }}
                                                </td>
                                                <td
                                                    *ngIf="
                                                        task.facility && task.facility.coo !== null;
                                                        else notAvailable
                                                    "
                                                >
                                                    {{ task.facility.coo }}
                                                </td> -->
                                                <td *ngIf="task.sent_date; else notAvailable">
                                                    {{ task.sent_date | date: 'dd MMM yyyy' }}
                                                </td>
                                                <td *ngIf="activeTab === tabNames[1]">
                                                    {{
                                                        task.create_ts
                                                            ? (task.create_ts | date: 'dd MMM yyyy')
                                                            : ('Not Available' | translate)
                                                    }}
                                                </td>
                                                <td *ngIf="task.task_name; else notAvailable">
                                                    {{ task.task_name }}
                                                </td>
                                                <td *ngIf="activeTab === tabNames[1]">
                                                    {{
                                                        task.workflow_status
                                                            ? task.workflow_status
                                                            : ('Not Available' | translate)
                                                    }}
                                                </td>
                                                <td *ngIf="activeTab === tabNames[1]">
                                                    {{
                                                        task.reviewer_name
                                                            ? task.reviewer_name
                                                            : ('Not Available' | translate)
                                                    }}
                                                </td>
                                                <td *ngFor="let customField of customFieldDisplayList">
                                                    {{
                                                        task['custom_fields'] &&
                                                        task['custom_fields'][customField.id] &&
                                                        task['custom_fields'][customField.id] != ''
                                                            ? task['custom_fields'][customField.id]
                                                            : ('Not Available' | translate)
                                                    }}
                                                </td>
                                                <td *ngIf="checkAccess('TASK_MANAGER_CREATE')" class="action-space">
                                                    <div class="action-icon">
                                                        <div class="action-icon-flex">
                                                            <button
                                                                *ngIf="checkAccess('TASK_MANAGER_UPDATE')"
                                                                type="button"
                                                                class="btn btn-review"
                                                                (click)="handleReviewClick(task)"
                                                            >
                                                                {{
                                                                    activeTab !== tabNames[1]
                                                                        ? 'Review'
                                                                        : ('View' | translate)
                                                                }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <ng-template #notAvailable>
                                                    <td class="content-grey">
                                                        {{ 'Not Available' | translate }}
                                                    </td>
                                                </ng-template>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Table responsive -->
                            </div>
                            <!-- Table container -->
                        </div>
                        <!-- Column -->
                    </div>
                    <!-- Row -->
                </div>
                <!-- Task-manager-table -->
            </div>
            <!-- Task-manager-body -->
        </div>
        <!-- task-manager-container -->
    </div>
    <!-- container-fluid -->
</div>
<!-- view-container -->
