<div class="data-mapping-container" *ngIf="!isEditable">
    <div class="edit-btn-container" *ngIf="showEditIcon">
        <a>
            <button class="edit-styled-btn width-100-px float-r mr-2" (click)="handleEditClick()">
                <i class="fa fa-pencil"></i>{{ 'Edit' | translate }}
            </button>
        </a>
    </div>

    <div class="additional-info-detail">
        <div class="information-details" *ngIf="pendingDataMappingItems">
            <div class="information-details-block" *ngFor="let item of pendingDataMappingItems; trackBy: trackById">
                <div class="information-details-block-inner-left" *ngIf="item.alias && item.alias !== null">
                    <span class="information-details-list">
                        {{ item.alias }}
                    </span>
                    <span class="information-details-list">:&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div
                    class="information-details-block-inner-right"
                    *ngIf="item.alias && item.alias !== null && !item.ttMasterKey"
                >
                    {{ 'Not Available' | translate }}
                </div>
                <div
                    class="information-details-block-inner-right"
                    *ngIf="item.alias && item.alias !== null && item.ttMasterKey"
                >
                    <span class="information-details-value">
                        {{ localizationService.getDisplayText(item.ttMasterKey) }}
                    </span>
                </div>
            </div>
        </div>
        <div class="information-details" *ngIf="dataMappingItems">
            <ng-container *ngFor="let dataMapping of dataMappingItems; trackBy: trackById">
                <div class="information-details-block" *ngFor="let item of dataMapping.alias">
                    <div class="information-details-block-inner-left" *ngIf="item && item !== null">
                        <span class="information-details-list">{{ item }}</span>
                        <span class="information-details-list">:&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <div
                        class="information-details-block-inner-right"
                        *ngIf="item && item !== null && dataMapping.ttMasterKey"
                    >
                        <span class="information-details-value">
                            {{ localizationService.getDisplayText(dataMapping.ttMasterKey) }}
                        </span>
                    </div>
                    <div
                        class="information-details-block-inner-right"
                        *ngIf="item && item !== null && !dataMapping.ttMasterKey"
                    >
                        {{ 'Not Available' | translate }}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <p *ngIf="isFetchingDataMappingItems" class="spinner-wrapper">
        <mat-spinner [diameter]="20"></mat-spinner>
    </p>
    <p *ngIf="!dataMappingItems && !isFetchingDataMappingItems">
        {{ 'No details available. Click the edit button to add.' | translate }}
    </p>
</div>
<div *ngIf="isEditable">
    <div *ngIf="isSaving || fetchingMasterData" class="spinner-wrapper">
        <mat-spinner [diameter]="20"></mat-spinner>
    </div>
    <div class="data-mapping-form-container" *ngIf="dataMappingForm">
        <form class="data-mapping-form" [formGroup]="dataMappingForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="data-mapping-form-item-detail">
                        <div
                            class="data-mapping-form-item-detail-block"
                            *ngFor="let item of pendingDataMappingItems; let ind = index"
                        >
                            <div class="information-details-block-inner-left" *ngIf="item.alias && item.alias !== null">
                                <span class="information-details-list">
                                    {{ item.alias }}
                                </span>
                                <span class="information-details-list">:&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <div
                                class="information-details-block-inner-right"
                                *ngIf="item.alias && item.alias !== null"
                            >
                                <mat-form-field [floatLabel]="'never'">
                                    <mat-select
                                        [formControlName]="item.id"
                                        (selectionChange)="handleOptionSelection(ind)"
                                    >
                                        <mat-option *ngFor="let option of config" [value]="option.key">
                                            {{ option.value }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="data-mapping-form-item-detail">
                        <ng-container *ngFor="let dataMapping of dataMappingItems">
                            <div class="data-mapping-form-item-detail-block" *ngFor="let item of dataMapping.alias">
                                <div class="information-details-block-inner-left" *ngIf="item && item !== null">
                                    <span class="information-details-list">
                                        {{ item }}
                                    </span>
                                    <span class="information-details-list">:&nbsp;&nbsp;&nbsp;</span>
                                </div>
                                <div
                                    class="information-details-block-inner-right"
                                    *ngIf="item && item !== null && dataMapping.ttMasterKey"
                                >
                                    <span class="information-details-value">
                                        {{ localizationService.getDisplayText(dataMapping.ttMasterKey) }}
                                    </span>
                                </div>
                                <div
                                    class="information-details-block-inner-right"
                                    *ngIf="item && item !== null && !dataMapping.ttMasterKey"
                                >
                                    {{ 'Not Available' | translate }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="row pr-2">
                <div class="col-md-12">
                    <div class="button-block">
                        <div class="alignment-right">
                            <button mat-button class="cancel-btn" (click)="cancelEditMode()">
                                {{ 'Cancel' | translate }}
                            </button>

                            <button
                                mat-button
                                class="save-btn"
                                (click)="saveDataMapping()"
                                [disabled]="!dataMappingForm.valid"
                            >
                                {{ 'Save' | translate }}
                            </button>
                        </div>
                        <!-- Alignment Right -->
                    </div>
                    <!-- Button Block -->
                </div>
                <!-- Column -->
            </div>
        </form>
    </div>
</div>
