<ng-template [ngIf]="!isSubQuestion">
    <ol class="question">
        <ng-template ngFor let-group [ngForOf]="questions | keys">
            <div class="qgli group-name" id="{{ group.key }}">{{ localeService.getDisplayText(group.key) }}</div>
            <ng-template ngFor let-sub_group [ngForOf]="group.value | keys">
                <div class="qsgli sub-group-name" id="{{ sub_group.key }}">
                    {{ localeService.getDisplayText(sub_group.key) }}
                </div>
                <li *ngFor="let question of sub_group.value">
                    <span
                        id="preview-{{ question.id }}"
                        class="question-item"
                        [ngClass]="{ 'current-question': isCurrentQuestion && isCommentWindowValid }"
                        (mouseover)="isCurrentQuestion = true"
                        (mouseout)="isCurrentQuestion = false"
                    >
                        <span class="question-title">{{ question.question }}</span>
                        <span *ngIf="question.mandatory" style="font-size: 20px; padding: 0 7px; color: red">*</span>
                        <input
                            class="comment-icon"
                            type="image"
                            src="{{ env.IMG_URL }}images/chat-1.png"
                            (click)="responseManagementService.openCommentWindow(question.id)"
                            *ngIf="isCommentWindowValid"
                        />
                        <div class="row mr-0" *ngIf="question.type === 'SINGLE_SELECT'">
                            <div
                                class="col-md-6 question-radio-container"
                                *ngFor="let option of question.options | keys"
                            >
                                <input
                                    type="radio"
                                    id="{{ question.id }}-{{ option.key }}"
                                    name="{{ question.id }}"
                                    [value]="option.key"
                                    [(ngModel)]="responses[question.id]"
                                    [disabled]="true"
                                />
                                <label for="{{ question.id }}-{{ option.key }}">{{ option.value }}</label>
                            </div>
                        </div>

                        <div class="row check_box_group" *ngIf="question.type === 'MULTI_SELECT'">
                            <div
                                class="col-md-6"
                                *ngFor="let option of question.options | keys; let optionIndex = index"
                            >
                                <input
                                    type="checkbox"
                                    id="{{ question.id }}-{{ optionIndex }}"
                                    name="{{ question.id }}-{{ optionIndex }}"
                                    [value]="option.key"
                                    [(ngModel)]="responses[question.id][optionIndex]"
                                    [disabled]="true"
                                />
                                <label for="{{ question.id }}-{{ optionIndex }}">
                                    <span>{{ option.value }}</span></label
                                >
                            </div>
                        </div>

                        <div class="row" *ngIf="question.type === 'TEXT'">
                            <div class="col-md-6">
                                <textarea
                                    [(ngModel)]="responses[question.id]"
                                    [attr.name]="question.id"
                                    [attr.id]="question.id"
                                    cols="100"
                                    rows="4"
                                    disabled
                                    *ngIf="responses[question.id]?.length > 20"
                                ></textarea>
                                <input
                                    type="text"
                                    id="{{ question.id }}"
                                    name="{{ question.id }}"
                                    [(ngModel)]="responses[question.id]"
                                    *ngIf="responses[question.id]?.length <= 20"
                                    [disabled]="true"
                                />
                                <input
                                    appGoogleTranslate
                                    class="translate-icon"
                                    type="image"
                                    src="{{ env.IMG_URL }}images/google-translate-icon.png"
                                    input_text="{{ responses[question.id] }}"
                                    (onTranslatedTextReceived)="showTranslatedText($event, question.id)"
                                />
                            </div>
                            <div
                                class="col-md-6 translated-content"
                                *ngIf="
                                    translation_info[question.id] && translation_info[question.id].showTranslationError
                                "
                            >
                                {{ translation_info[question.id].translationError }}
                            </div>
                        </div>

                        <div *ngIf="question['evidenceRequired'] && question['evidenceRequired'].length > 0">
                            <div class="form-group row" id="upload">
                                <ng-template ngFor let-evidence [ngForOf]="question['evidenceRequired']" let-oi="index">
                                    <div class="col-md-6" *ngIf="evidence.id">
                                        <p>{{ evidence.name }}</p>
                                        <!--<a class="upload-file-button" (click)="invokeEvidenceUpload(question.id + '-' + evidence.id)"-->
                                        <!--*ngIf="!evidenceUploading[question.id + evidence.id]"><b>Upload file </b><i-->
                                        <!--class="fa fa-upload"></i></a>-->
                                        <!--<a class="upload-file-button" *ngIf="evidenceUploading[question.id + evidence.id]"><b>Uploading file </b>-->
                                        <!--<app-spinner [small]="true"></app-spinner>-->
                                        <!--</a>-->
                                        <ul
                                            class="fileInputList"
                                            *ngIf="
                                                evidenceFiles &&
                                                evidenceFiles[question.id] &&
                                                evidenceFiles[question.id][evidence.id] &&
                                                evidenceFiles[question.id][evidence.id]['files']
                                            "
                                        >
                                            <li
                                                class="files"
                                                *ngFor="let file of evidenceFiles[question.id][evidence.id]['files']"
                                                [tooltip]="file"
                                                data-placement="right"
                                            >
                                                <span
                                                    class="download"
                                                    (click)="
                                                        getEvidenceFile(
                                                            evidenceFiles[question.id][evidence.id]['evidenceId'],
                                                            file
                                                        )
                                                    "
                                                >
                                                    <i class="fa fa-download"></i>
                                                    <span class="fileName">{{ file }}</span>
                                                </span>
                                                <!--<span class="delete pull-right"-->
                                                <!--(click)="removeFile(evidenceFiles[question.id][evidence.id]['evidenceId'], file, question.id, evidence.id)"><i-->
                                                <!--class="fa fa-close"></i></span>-->
                                            </li>
                                        </ul>
                                        <!--<input type="file" id="{{question.id}}-{{evidence.id}}"-->
                                        <!--name="{{question.id}}-{{evidence.id}}"-->
                                        <!--[(ngModel)]="responses[evidence.id]"-->
                                        <!--(change)="uploadEvidence($event.target.files, question.id, evidence.id)">-->
                                        <ng-template [ngIf]="answered[evidence.id]">
                                            <i class="material-icons">close</i>
                                        </ng-template>
                                    </div>
                                </ng-template>
                            </div>
                            <!-- form-group -->
                        </div>
                        <!-- File -->
                    </span>
                    <ng-template [ngIf]="question['subQuestion'] && question['options']">
                        <ng-template ngFor let-option [ngForOf]="question.options | keys" let-optionIndex="index">
                            <app-preview-questions
                                *ngIf="question['subQuestion'][option.key]"
                                [responses]="responses"
                                [parentQuestionId]="question.id"
                                [optionIndex]="optionIndex"
                                [subQuestionForOption]="option.key"
                                [answered]="answered"
                                [questions]="question['subQuestion'][option.key]"
                                [assessmentId]="assessmentId"
                                [facilityId]="facilityId"
                                [isSubQuestion]="true"
                            ></app-preview-questions>
                        </ng-template>
                    </ng-template>
                </li>
            </ng-template>
        </ng-template>
    </ol>
</ng-template>

<ng-template [ngIf]="isSubQuestion">
    <ol
        class="subQuestion"
        *ngIf="
            responses[parentQuestionId] &&
            (responses[parentQuestionId] === subQuestionForOption ||
                (responses[parentQuestionId] !== null &&
                    responses[parentQuestionId][optionIndex] &&
                    responses[parentQuestionId][optionIndex] === true))
        "
    >
        <li *ngFor="let question of questions">
            <!--<div class="parentOption">-->
            <!--{{subQuestionForOption}}-->
            <!--</div>-->
            <span
                id="preview-{{ question.id }}"
                class="question-item"
                [ngClass]="{ 'current-question': isCurrentQuestion }"
                (mouseover)="isCurrentQuestion = true"
                (mouseout)="isCurrentQuestion = false"
            >
                <span class="question-title">{{ question.question }}</span>
                <input
                    class="comment-icon"
                    type="image"
                    src="{{ env.IMG_URL }}images/chat-1.png"
                    (click)="responseManagementService.openCommentWindow(question.id)"
                />
                <div class="row" *ngIf="question.type === 'SINGLE_SELECT'">
                    <div class="col-md-6 question-radio-container" *ngFor="let option of question.options | keys">
                        <input
                            type="radio"
                            id="{{ question.id }}-{{ option.key }}"
                            name="{{ question.id }}"
                            [value]="option.key"
                            [(ngModel)]="responses[question.id]"
                            [disabled]="true"
                        />
                        <label for="{{ question.id }}-{{ option.key }}">{{ option.value }}</label>
                    </div>
                </div>

                <div class="row check_box_group" *ngIf="question.type === 'MULTI_SELECT'">
                    <div class="col-md-6" *ngFor="let option of question.options | keys; let optionIndex = index">
                        <input
                            type="checkbox"
                            id="{{ question.id }}-{{ optionIndex }}"
                            name="{{ question.id }}-{{ optionIndex }}"
                            [value]="option.key"
                            [(ngModel)]="responses[question.id][optionIndex]"
                            [disabled]="true"
                        />
                        <label for="{{ question.id }}-{{ optionIndex }}">
                            <span>{{ option.value }}</span></label
                        >
                    </div>
                </div>

                <div class="row" *ngIf="question.type === 'TEXT'">
                    <div class="col-md-6">
                        <textarea
                            [(ngModel)]="responses[question.id]"
                            [attr.name]="question.id"
                            [attr.id]="question.id"
                            cols="100"
                            rows="4"
                            disabled
                            *ngIf="responses[question.id]?.length > 20"
                        ></textarea>
                        <input
                            type="text"
                            id="{{ question.id }}"
                            name="{{ question.id }}"
                            [(ngModel)]="responses[question.id]"
                            *ngIf="responses[question.id]?.length <= 20"
                            [disabled]="true"
                        />
                        <input
                            appGoogleTranslate
                            class="translate-icon"
                            type="image"
                            src="{{ env.IMG_URL }}images/google-translate-icon.png"
                            input_text="{{ responses[question.id] }}"
                            (onTranslatedTextReceived)="showTranslatedText($event, question.id)"
                        />
                    </div>
                    <div
                        class="col-md-6 translated-content"
                        *ngIf="translation_info[question.id] && translation_info[question.id].showTranslationError"
                    >
                        {{ translation_info[question.id].translationError }}
                    </div>
                </div>

                <div *ngIf="question['evidenceRequired'] && question['evidenceRequired'].length > 0">
                    <div class="form-group row" id="upload">
                        <ng-template ngFor let-evidence [ngForOf]="question['evidenceRequired']" let-oi="index">
                            <div class="col-md-6" *ngIf="evidence.id">
                                <p>{{ evidence.name }}</p>
                                <!--<a (click)="invokeEvidenceUpload(question.id + '-' + evidence.id)"><b>Upload file </b><i-->
                                <!--class="fa fa-upload"></i></a>-->
                                <ul
                                    class="fileInputList"
                                    *ngIf="
                                        evidenceFiles &&
                                        evidenceFiles[question.id] &&
                                        evidenceFiles[question.id][evidence.id] &&
                                        evidenceFiles[question.id][evidence.id]['files']
                                    "
                                >
                                    <li
                                        class="files"
                                        *ngFor="let file of evidenceFiles[question.id][evidence.id]['files']"
                                        [tooltip]="file"
                                        data-placement="right"
                                    >
                                        <span
                                            class="download"
                                            (click)="
                                                getEvidenceFile(
                                                    evidenceFiles[question.id][evidence.id]['evidenceId'],
                                                    file
                                                )
                                            "
                                        >
                                            <i class="fa fa-download"></i>
                                            <span class="fileName">{{ file }}</span>
                                        </span>
                                        <!--<span class="delete pull-right"-->
                                        <!--(click)="removeFile(evidenceFiles[question.id][evidence.id]['evidenceId'], file, question.id, evidence.id)"><i-->
                                        <!--class="fa fa-close"></i></span>-->
                                    </li>
                                </ul>
                                <!--<input type="file" id="{{question.id}}-{{evidence.id}}"-->
                                <!--name="{{question.id}}-{{evidence.id}}"-->
                                <!--[(ngModel)]="responses[evidence.id]"-->
                                <!--(change)="uploadEvidence($event.target.files, question.id, evidence.id)">-->
                                <ng-template [ngIf]="answered[evidence.id]">
                                    <i class="material-icons">close</i>
                                </ng-template>
                            </div>
                        </ng-template>
                    </div>
                    <!-- form-group -->
                </div>
                <!-- File -->
                <ng-template [ngIf]="question['subQuestion'] && question['options']">
                    <ng-template ngFor let-option [ngForOf]="question.options | keys" let-optionIndex="index">
                        <app-preview-questions
                            *ngIf="question['subQuestion'][option.key]"
                            [responses]="responses"
                            [parentQuestionId]="question.id"
                            [optionIndex]="optionIndex"
                            [subQuestionForOption]="option"
                            [answered]="answered"
                            [questions]="question['subQuestion'][option.key]"
                            [assessmentId]="assessmentId"
                            [facilityId]="facilityId"
                            [isSubQuestion]="true"
                        >
                        </app-preview-questions>
                    </ng-template>
                </ng-template>
            </span>
        </li>
    </ol>
</ng-template>
