<div class="login-full-width-container">
    <div class="row login-row">
        <!--   <div class="col-sm-12 col-xs-12 hidden-md hidden-lg hidden-sm hidden-xs pd-0">
            <img src="{{ env.IMG_URL }}images/food-login-bg.jpg" alt="Food" class="login-image" />
        </div> -->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <router-outlet></router-outlet>
        </div>
        <!-- <div class="col-md-12 col-lg-12 hidden-xs hidden-sm pd-0">
            <img src="{{ env.IMG_URL }}images/food-login-bg.jpg" alt="Food" class="login-image" />
            <div class="login-image-bg" [style.background-image]="sectionImgUrl"></div>
        </div> -->
    </div>
</div>
