<div id="record-transactions-categories">
    <div id="production-transactions">
        <div class="row pb-2">
            <div class="hr mr-2">
                <span class="hr-title">{{ 'Production' | translate }} </span>
            </div>
        </div>
        <app-full-page-loader *ngIf="pageLoading"></app-full-page-loader>
        <div *ngIf="!pageLoading">
            <form #createProductionForm="ngForm">
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pr-2">
                        <div class="row pt-2">
                            <div class="pl-0 col-md-6 col-xs-6 col-lg-6 col-sm-6 label mb-2">
                                <mat-form-field>
                                    <input
                                        class="input"
                                        type="text"
                                        placeholder="{{ 'New Reference Id' | translate }}:"
                                        name="NewReferenceId"
                                        #referenceId
                                        [(ngModel)]="transaction.lot.externalId"
                                        (blur)="checkIfReferenceIdIsUnique()"
                                        matInput
                                        required
                                        data-cy="production-transaction-new-reference-id"
                                    />
                                </mat-form-field>
                                <div class="error" *ngIf="!referenceIdIsUnique">
                                    {{ 'A lot with this reference ID already exists' | translate }}!
                                </div>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="pl-0 col-md-8 col-xs-8 col-lg-8 col-sm-8 label">
                                <mat-form-field>
                                    <input
                                        class="input"
                                        type="text"
                                        placeholder="{{ 'Style Name & Number' | industry | translate }}:"
                                        name="StyleNameNumber"
                                        [(ngModel)]="styleSearchText"
                                        (keyup)="searchStyle($event)"
                                        (blur)="validateSelectedStyle()"
                                        matInput
                                        [matAutocomplete]="stylesAuto"
                                        required
                                        data-cy="production-transaction-style-name-number"
                                    />
                                    <mat-hint #soaSearchHint [ngStyle]="{ color: hintColor }">{{
                                        'Type at least 3 characters to search' | translate
                                    }}</mat-hint>
                                    <mat-autocomplete
                                        #stylesAuto="matAutocomplete"
                                        [displayWith]="getSOADisplayName"
                                        (optionSelected)="onStyleSelection($event.option.value)"
                                    >
                                        <mat-option *ngFor="let item of config.SOA_search" [value]="item">
                                            {{ item.unique_search }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="pl-0 col-md-4 col-xs-4 col-lg-4 col-sm-4 mt-1">
                                <mat-form-field>
                                    <input
                                        class="input"
                                        matInput
                                        [matDatepicker]="picker"
                                        name="transactionDate"
                                        [(ngModel)]="transaction.lot.date"
                                        placeholder="{{ 'Date' | translate }}:"
                                        readonly
                                        (click)="picker.open()"
                                        data-cy="production-transaction-date"
                                    />
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="pl-0 col-md-4 col-xs-4 col-lg-4 col-sm-4 label">
                                <mat-form-field>
                                    <input
                                        class="input"
                                        matInput
                                        type="number"
                                        name="outputQuantity"
                                        placeholder="{{ 'Quantity produced' | translate }}:"
                                        [(ngModel)]="transaction.lot.quantity.quantity"
                                        required
                                        data-cy="production-transaction-quantity-produced"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="pl-0 col-md-4 col-xs-4 col-lg-4 col-sm-4 label">
                                <app-tt-dropdown-search
                                    [searchOptions]="config.unit"
                                    [(ngModel)]="transaction.lot.quantity.unit"
                                    [placeholder]="'Units'"
                                    [isRequired]="isRequired"
                                    name="outputQuantityUnit"
                                    required
                                    [data_cy]="'production-transaction-units'"
                                >
                                </app-tt-dropdown-search>
                            </div>
                            <div class="pl-0 col-md-4 col-xs-4 col-lg-4 col-sm-4 label">
                                <app-tt-multi-dropdown-search
                                    [(ngModel)]="transaction.lot.facilities"
                                    name="facilities"
                                    [placeholder]="'Associated Facility:'"
                                    [options]="config.facilities"
                                    required
                                    [data_cy]="'production-transaction-facilities'"
                                >
                                </app-tt-multi-dropdown-search>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-md-4 col-xs-4 col-lg-4 col-sm-4 pl-3"
                        *ngIf="authService.haveAccess('ADIDAS_DEMO_READ')"
                    >
                        <app-qr-code (response)="handleQRResponse($event)"></app-qr-code>
                    </div>
                </div>

                <div class="row mt-3 mb-2">
                    <div class="col-md-8">
                        <div class="hr text-center">
                            <span class="hr-title text-muted">{{ 'Input Materials' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-xs-8 col-lg-8 col-sm-8">
                        <div
                            *ngFor="
                                let inputMaterial of transaction.lot.productionInputLots;
                                let isLast = last;
                                let i = index
                            "
                        >
                            <div class="row pt-2">
                                <div class="pl-0 col-md-3 col-xs-3 col-lg-3 col-sm-3 label">
                                    <mat-form-field>
                                        <input
                                            class="input"
                                            type="text"
                                            placeholder="{{ 'Article' | translate }}:"
                                            name="articles-{{ transaction.lot.productionInputLots[i].fieldName }}"
                                            [(ngModel)]="transaction.lot.productionInputLots[i]['articleId']"
                                            matInput
                                            [matAutocomplete]="articlesAuto"
                                            (keyup)="searchArticle($event, i)"
                                            [required]="!isLast"
                                            data-cy="production-transaction-article"
                                        />
                                        <mat-hint #aSearchHint [ngStyle]="{ color: articleHintColor }">{{
                                            'Type at least 3 characters to search' | translate
                                        }}</mat-hint>
                                        <mat-autocomplete
                                            #articlesAuto="matAutocomplete"
                                            [displayWith]="getLotDisplayName"
                                            (optionSelected)="onArticleSelection($event.option.value)"
                                        >
                                            <mat-option *ngFor="let item of config.article_search" [value]="item">
                                                {{ item.artifactName_no }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="pl-0 col-md-2 col-xs-2 col-lg-2 col-sm-2 label">
                                    <app-tt-dropdown-search
                                        [searchOptions]="config.lots"
                                        (selectionChange)="inputLotChanged($event, i)"
                                        [(ngModel)]="transaction.lot.productionInputLots[i].lotId"
                                        [placeholder]="'Reference (ID):'"
                                        name="ReferenceId-{{ transaction.lot.productionInputLots[i].fieldName }}"
                                        [optionalParams]="optional"
                                        [selectedItem]="transaction.lot.productionInputLots"
                                        [required]="!isLast"
                                        [isRequired]="!isLast"
                                        [data_cy]="'production-transaction-reference-id'"
                                    ></app-tt-dropdown-search>
                                </div>
                                <div class="pl-0 col-md-2 col-xs-2 col-lg-2 col-sm-2 label">
                                    <mat-form-field>
                                        <input
                                            class="input"
                                            matInput
                                            placeholder="{{ 'Quantity used' | translate }}:"
                                            name="inputQty-{{ transaction.lot.productionInputLots[i].fieldName }}"
                                            [(ngModel)]="transaction.lot.productionInputLots[i].quantity.quantity"
                                            (ngModelChange)="checkQuantityEntered($event, i)"
                                            [required]="!isLast"
                                            data-cy="production-transaction-quantity-used"
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="pl-0 col-md-2 col-xs-2 col-lg-2 col-sm-2 label">
                                    <app-tt-dropdown-search
                                        [searchOptions]="config.unit"
                                        [(ngModel)]="transaction.lot.productionInputLots[i].quantity.unit"
                                        name="units-{{ transaction.lot.productionInputLots[i].fieldName }}"
                                        [placeholder]="'Units'"
                                        [isRequired]="isRequired"
                                        [data_cy]="'production-transaction-quantity-units'"
                                    ></app-tt-dropdown-search>
                                </div>
                                <div *ngIf="isLast" class="col-md-1 col-xs-1 col-lg-1 col-sm-1">
                                    <div class="input-material-btn cursor-pointer" (click)="addInputMaterial()">
                                        <i class="action-icons-big fa fa-plus"></i>
                                    </div>
                                </div>
                                <div *ngIf="!isLast" class="col-md-1 col-xs-1 col-lg-1 col-sm-1">
                                    <i class="action-icons-big fa fa-trash" (click)="deleteInputMaterial(i)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4" *ngIf="authService.haveAccess('ADIDAS_DEMO_READ')">
                        <app-qr-code (response)="handleInputMaterialQRResponse($event)"></app-qr-code>
                    </div>
                </div>

                <div class="row mt-2 mb-2">
                    <div class="col-md-8">
                        <div class="hr text-center">
                            <span class="hr-title text-muted">{{ 'Attachments' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="pl-0 col-md-4 col-xs-4 col-lg-4 col-sm-4 label">
                        <div
                            class="certificate-container"
                            *ngFor="let certificateToUpload of data.certificates_to_collect"
                        >
                            <div class="title">Upload {{ certificateToUpload.value }}:</div>
                            <div class="clearfix"></div>
                            <div class="file-list-container">
                                <ul class="list-unstyled">
                                    <li
                                        *ngFor="
                                            let file of uploadFiles[certificateToUpload.id].files;
                                            let index = index
                                        "
                                    >
                                        <span class="filename tt-font font-regular">{{ file['displayFileName'] }}</span>
                                        <span class="delete-icon" (click)="removeFile(certificateToUpload.id, index)"
                                            ><img src="{{ env.IMG_URL }}images/questionaire-del.png" alt="Delete Icon"
                                        /></span>
                                    </li>
                                </ul>
                            </div>
                            <div
                                class="tt-file-upload-ui-container"
                                (click)="
                                    isUploading[certificateToUpload.id] ? $event.stopPropagation() : fileInput.click()
                                "
                                data-cy="production-transaction-file-upload"
                            >
                                <div class="tt-file-upload-ui-content">
                                    <ng-template
                                        [ngIf]="!isUploading[certificateToUpload.id]"
                                        [ngIfElse]="uploadFileSpinner"
                                    >
                                        <div class="spinner-wrapper">
                                            <img
                                                src="{{ env.IMG_URL }}images/icon-upload-grey.png"
                                                alt="Upload file"
                                                class=""
                                            />
                                            <h5 class="description tt-font tt-font-regular text-muted">
                                                {{ 'Click here to upload file' | translate }}
                                            </h5>
                                        </div>
                                    </ng-template>
                                    <ng-template #uploadFileSpinner>
                                        <div class="spinner-wrapper">
                                            <h5 class="tt-font tt-font-regular tt-font-muted">
                                                {{ 'Uploading File' | translate }} . . .
                                            </h5>
                                            <mat-spinner [diameter]="14"></mat-spinner>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            <input
                                type="file"
                                class="hidden"
                                #fileInput
                                (change)="uploadFile($event.target['files'], certificateToUpload.id)"
                                [hidden]="true"
                                [disabled]="isUploading[certificateToUpload.id]"
                                data-cy="production-transaction-input-file-upload"
                            />
                        </div>
                    </div>
                </div>

                <div class="row pt-2 mb-3">
                    <div class="col-md-offset-6 col-xs-offset-6 col-lg-offset-6 col-sm-offset-6">
                        <button
                            id="order-create-btn"
                            type="button"
                            class="btn btn-gray create-btn btn-align mr-2"
                            (click)="save()"
                            [disabled]="
                                !createProductionForm.valid ||
                                transaction.lot.productionInputLots.length <= 1 ||
                                !referenceIdIsUnique
                            "
                        >
                            {{ 'Save' | translate }}
                        </button>
                        <!--                        <button-->
                        <!--                            id="order-create-print-btn"-->
                        <!--                            type="button"-->
                        <!--                            class="btn btn-gray create-btn btn-align"-->
                        <!--                            (click)="saveAndPrint()"-->
                        <!--                            [disabled]="!createProductionForm.valid"-->
                        <!--                        >-->
                        <!--                            {{ 'Save & Print' | translate }}-->
                        <!--                        </button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="visibility:hidden" *ngIf="isPrintReady">
    <app-generate-qr-code #printQRCodeComponent [qrId]="qrCodeToPrint" [qrCodeId]="'qrCodeSectionToPrint'">
    </app-generate-qr-code>
</div>
