<div class="parent-container">
    <div id="title-container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
            <div class="modal-header-section">
                <h3 class="title">
                    {{ 'Upload Documents for' | translate }} :
                    <span class="font-regular">{{ data.transaction.external_id }}</span>
                </h3>
                <p class="description">
                    <strong>{{ 'Style Name' | translate }} :</strong> {{ data.transaction.product_name }}
                </p>
                <p class="description">
                    <strong>{{ 'Lot ID' | translate }} :</strong> {{ data.transaction.lot_id }}
                </p>
            </div>
            <a (click)="closeDialog()" class="close-icon">
                <img class="icon" src="{{ utilService.getcdnImage('close-model.png') }}" />
            </a>
        </div>
        <div class="invalid-certificate-message" *ngIf="checkIfInvalidCertificatesPresent() && !isSavingAssociation">
            * {{ 'Some errors exist in the certificates, please verify' | translate }}
        </div>
    </div>
    <!-- END OF TITLE BAR -->

    <!-- MAIN CONTAINER -->
    <div id="main-dialog-container">
        <div class="content">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="certificate-container" *ngFor="let certificateToUpload of data.certificates_to_collect">
                    <div class="certificate-title">
                        {{ 'Upload' | translate }} {{ certificateToUpload.value | translate }}:
                    </div>
                    <span
                        class="validation-status"
                        *ngIf="
                            validationDataForCertificateType[certificateToUpload.id] &&
                            checkAccess('DEEPER_DOCUMENT_VALIDATION_READ')
                        "
                        (click)="showDetailedValidationData(validationDataForCertificateType[certificateToUpload.id])"
                    >
                        <span
                            class="validation-icon"
                            *ngIf="validationDataForCertificateType[certificateToUpload.id].validationStatus === true"
                        >
                            <mat-icon>verified_user</mat-icon>
                        </span>
                        <span
                            class="validation-icon"
                            *ngIf="validationDataForCertificateType[certificateToUpload.id].validationStatus === false"
                        >
                            <mat-icon>error</mat-icon>
                        </span>
                    </span>
                    <div class="clearfix"></div>
                    <div class="file-list-container">
                        <ul class="list-unstyled">
                            <li *ngFor="let file of uploadFiles[certificateToUpload.id].files; let index = index">
                                <span class="filename tt-font font-regular">{{ file.displayFileName }}</span>
                                <span class="delete-icon" (click)="removeFile(certificateToUpload.id, index)"
                                    ><img src="{{ env.IMG_URL }}images/questionaire-del.png" alt="Delete Icon"
                                /></span>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="tt-file-upload-ui-container"
                        (click)="isUploading[certificateToUpload.id] ? $event.stopPropagation() : fileInput.click()"
                    >
                        <div class="tt-file-upload-ui-content">
                            <ng-template [ngIf]="!isUploading[certificateToUpload.id]" [ngIfElse]="uploadFileSpinner">
                                <div class="spinner-wrapper">
                                    <img
                                        src="{{ env.IMG_URL }}images/icon-upload-grey.png"
                                        alt="Upload file"
                                        class="mr-2"
                                    />
                                    <h5 class="description tt-font tt-font-regular text-muted">
                                        {{ 'Click here to upload file' | translate }}
                                    </h5>
                                </div>
                            </ng-template>
                            <ng-template #uploadFileSpinner>
                                <div class="spinner-wrapper">
                                    <h5 class="tt-font tt-font-regular tt-font-muted">
                                        {{ 'Uploading File' | translate }} . . .
                                    </h5>
                                    <mat-spinner [diameter]="14"></mat-spinner>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <input
                        type="file"
                        class="hidden"
                        #fileInput
                        (change)="uploadFile($event.target.files, certificateToUpload.id)"
                        [hidden]="true"
                        [disabled]="isUploading[certificateToUpload.id]"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="action-buttons-container" style="position: absolute; bottom: 0; left: 0; right: 0;">
        <div class="action-buttons">
            <button
                class="btn tt-btn tt-btn-primary tt-btn-slim"
                (click)="saveAssociation()"
                [disabled]="isSavingAssociation || isUploadingFiles"
            >
                <ng-template [ngIf]="!isSavingAssociation && !isUploadingFiles">{{
                    'Upload Documents' | translate
                }}</ng-template>
                <ng-template [ngIf]="isSavingAssociation || isUploadingFiles"
                    >{{ 'Saving' | translate }} ...
                </ng-template>
            </button>
        </div>
        <!-- <div class="action-buttons" matTooltip="Documents not yet uploaded" [matTooltipDisabled]="!newFilesUploaded">
            <button
                *ngIf="!isSavingAssociation && !isUploadingFiles"
                class="btn tt-btn tt-btn-primary tt-btn-slim pull-right"
                (click)="submit()"
                [disabled]="newFilesUploaded"
            >
                {{ 'Submit' | translate }}
            </button>
        </div> -->
    </div>
</div>
