<div class="view-container" id="map-wrapper">
    <div class="container-fluid dashboard-outer">
        <app-full-page-loader *ngIf="pageLoading"></app-full-page-loader>
        <div class="row header" id="map-header">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pt-3 pl-3">
                <div class="page-title">{{ 'Map View' | industry | translate }}</div>
                <div class="page-description">
                    {{
                        'Zoom in to see more facilities within an area, click on a pin to view more information about a facility'
                            | industry
                            | translate
                    }}
                </div>
            </div>
        </div>

        <div id="filter-bar-wrapper" class="row filter-bar-wrapper" *ngIf="supplierFilters">
            <div class="col-md-12">
                <ul class="filter-bar-container">
                    <li *ngFor="let filter of supplierFilters | keys; let filterInd = index">
                        <app-tt-multi-select-search
                            (selectionChange)="handleFilterSelection()"
                            (refreshFilter)="refreshFilter()"
                            [label]="filter.key"
                            [options]="filter.value"
                            [filter_session]="filter_session"
                            [optionsParam]="optionsParam"
                            [data_cy]="removeSpace(filter.key)"
                        >
                        </app-tt-multi-select-search>
                    </li>
                    <li class="reset-filters">
                        <button
                            class="button-badge mat-button btn btn-gray"
                            (click)="resetAllFilters()"
                            data-cy="maps-reset-all-filters"
                        >
                            {{ 'Reset all filters' | translate }}
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row map-container" [ngStyle]="{ 'top.px': mapContainerTop }">
            <div class="col-md-12">
                <div class="map-container-block">
                    <div id="map" #leafletMap></div>
                    <mat-slide-toggle *ngIf="this.companyHasAccessToSupplierLink()" [(ngModel)]="supplierLinkStatus">
                        {{ (supplierLinkStatus ? 'Close Supply Chain' : 'View Supply Chain') | translate }}
                    </mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
</div>

<div
    bsModal
    #facilityInfoModal="bs-modal"
    id="facilityInfo"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="facilityInfoModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content" *ngIf="selectedFacility">
            <div class="modal-header blue-head">
                <h4 class="modal-title pull-left">{{ selectedFacility.name }}</h4>
                <button type="button" class="close pull-right" (click)="facilityInfoModal.hide()" aria-label="Close">
                    <img class="sni" src="{{ env.IMG_URL }}images/close.png" alt="Close Icon" />
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row bb">
                        <div class="col-md-4">
                            <img
                                class="img-responsive"
                                [src]="selectedFacility['logoUrl']"
                                *ngIf="selectedFacility?.logoUrl"
                                alt="Facility logo"
                            />
                            <img
                                class="img-responsive"
                                style="max-height: 70px; vertical-align: middle;"
                                src="{{ env.IMG_URL }}images/nologo.png"
                                *ngIf="!selectedFacility?.logoUrl"
                                alt="Facility logo not provided"
                            />
                        </div>
                        <div class="col-md-8">
                            <h4>{{ 'Address' | translate }}</h4>
                            <p>
                                {{ selectedFacility.address.addressLine1 }}
                                {{ selectedFacility.address.addressLine2 }}
                                {{ selectedFacility.address.city }}
                                {{ selectedFacility.address.state }}
                                {{ selectedFacility.address.country }}
                            </p>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="noMaterials" style="height: 150px;" *ngIf="!selectedFacility.facilityScore">
                        {{ 'Facility has not been assessed' | translate }}
                    </div>
                    <div class="scores" *ngFor="let group of selectedFacility.facilityScore | keys">
                        <h3>{{ localeService.getDisplayText(group.key) }}</h3>
                        <div class="subScore">
                            <div
                                class="c100 p{{
                                    getScorePercent(group.value.total.obtained, group.value.total.max) | number: '1.0-0'
                                }} green"
                            >
                                <span>{{ getScorePercent(group.value.total.obtained, group.value.total.max) }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div
                        class="scores"
                        style="float: inherit; margin: 0"
                        *ngIf="selectedFacility.certificateList && selectedFacility.certificateList.length > 0"
                    >
                        <h3>{{ 'Standards' | translate }}</h3>
                        <div class="row">
                            <div
                                class="col-md-2 standardsImageContainer"
                                *ngFor="let certificate of selectedFacility.certificateList"
                            >
                                <div
                                    class="certificate-item"
                                    [tooltip]="certificateTooltipContent"
                                    data-placement="top"
                                    (click)="
                                        certificateManagerService.downloadFile(
                                            certificate.id,
                                            certificate.uploadedFiles[0]
                                        )
                                    "
                                    containerClass="certificateTooltip"
                                    container="body"
                                >
                                    <img
                                        src="{{ utilsService.getStandardImageUrl(certificate.typeId) }}"
                                        (error)="utilsService.getDefaultCertificateImage($event.target)"
                                        alt="Certificate Image"
                                    />
                                    <div class="overlay-download-icon">
                                        <img
                                            src="{{ env.IMG_URL }}images/icon-download-white.png"
                                            alt="Download Certificate"
                                        />
                                    </div>
                                    <div class="download-icon placement-bottom-right">
                                        <img
                                            src="{{ env.IMG_URL }}images/icon-download-grey.png"
                                            alt="Download Certificate"
                                        />
                                    </div>
                                </div>
                                <ng-template #certificateTooltipContent>
                                    <div class="text-left" style="background-color: #fff; border: 1px solid #f5f5f5;">
                                        <h5 class="tt-font">{{ localeService.getDisplayText(certificate.typeId) }}</h5>
                                        <h5 class="tt-font tt-font-regular">
                                            {{ 'Validity' | translate }}:
                                            <span style="font-weight: bold !important;">{{
                                                certificate.expiryDate | date
                                            }}</span>
                                        </h5>
                                        <h5 class="tt-font tt-font-regular">
                                            {{ 'Certification Body' | translate }}:
                                            <span style="font-weight: bold !important;">{{ certificate.body }}</span>
                                        </h5>
                                        <h5 class="tt-font tt-font-regular">
                                            {{ 'Facility Name' | translate }}:
                                            <span style="font-weight: bold !important;">{{
                                                certificate.facilityName
                                            }}</span>
                                        </h5>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- container-fluid -->
            </div>

            <div class="modal-footer">
                <div class="col-md-6 col-md-offset-6">
                    <button type="button" class="btn btn-blue" data-dismiss="modal" (click)="facilityInfoModal.hide()">
                        {{ 'Close' | translate }}
                    </button>
                </div>
            </div>
            <!-- modal-footer-->
        </div>
        <!-- modal-content-->
    </div>
    <!-- modal-dialog -->
</div>
<!-- bs-modal-->

<div
    bsModal
    #supplierProfileModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="supplierProfileModal"
    aria-hidden="true"
>
    <div class="modal-dialog modal-xlg">
        <div class="modal-content">
            <div class="modal-header blue-head">
                <h4 class="modal-title pull-left">{{ profileData.companyName }}</h4>
                <button type="button" class="close pull-right" (click)="supplierProfileModal.hide()" aria-label="Close">
                    <img class="sni" src="{{ env.IMG_URL }}images/close.png" alt="Close icon" />
                </button>
            </div>
            <!-- modal-header -->
            <div class="modal-body" style="padding: 15px 30px;">
                <div class="row viewMode">
                    <div class="col-md-3">
                        <div class="companyLogo">
                            <img
                                style="max-height: 260px; max-width: 100%;"
                                class="img-responsive"
                                src="{{ profileData.logo_url }}"
                                alt="Company Logo"
                            />
                        </div>
                        <!-- companyLogo -->

                        <div class="companyName">{{ profileData.companyName }}</div>
                        <!-- Company Name -->

                        <div class="companyAddress">
                            <address
                                *ngIf="
                                    profileData.address.addressLine1 ||
                                    profileData.address.country ||
                                    profileData.address.city ||
                                    profileData.address.state
                                "
                            >
                                <span>{{ profileData.address.addressLine1 }}</span
                                ><br />
                                <span>{{ profileData.address.addressLine2 }}</span
                                ><br />
                                <span>{{ profileData.address.city }}</span
                                ><br />
                                <span>{{ profileData.address.state }}</span
                                ><br />
                                <span>{{ profileData.address.country }} - {{ profileData.address.zip }}</span
                                ><br />
                            </address>

                            <p
                                class="disabled-text"
                                style="text-align: left !important;"
                                *ngIf="
                                    !profileData.address.addressLine1 &&
                                    !profileData.address.country &&
                                    !profileData.address.city &&
                                    !profileData.address.state
                                "
                            >
                                {{ 'Address / Location Not Provided' | translate }}
                            </p>
                        </div>
                        <!-- Address -->

                        <div
                            class="contact"
                            *ngIf="
                                profileData.contactPersonName || profileData.contactEmail || profileData.contactMobile
                            "
                        >
                            <h4>{{ 'Contact Person' | translate }}</h4>
                            <p class="contactName">{{ profileData.contactPersonName }}</p>
                            <p class="contactEmail">{{ profileData.contactEmail }}</p>
                            <p class="contactMobile">{{ profileData.contactMobile }}</p>
                        </div>
                        <!-- contact -->
                    </div>
                    <!-- col -->

                    <div class="col-md-9">
                        <div class="description" *ngIf="profileData?.description?.length > 1">
                            <h4>{{ 'Description' | translate }}</h4>
                            <p style="text-align: justify; text-justify: inter-word;">{{ profileData.description }}</p>
                        </div>
                        <!-- description -->

                        <div class="row">
                            <div class="col-md-8">
                                <div class="valueProcesses" style="margin-top: 0;">
                                    <div>
                                        <h4 class="pull-left">
                                            {{ 'Value Processes' | translate }} ({{ valueProcesses?.length }})
                                        </h4>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="valueProcessesContainer">
                                        <p class="noMaterials pt-1" *ngIf="valueProcesses?.length <= 0">
                                            {{ 'No Value Processes' | translate }}
                                        </p>
                                        <ul class="list-unstyled list-inline itemList">
                                            <li class="item" *ngFor="let vp of valueProcesses">
                                                {{ localeService.getDisplayText(vp) }}
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- valueProcessesContainer -->
                                </div>
                                <!-- ValueProcesses -->

                                <div class="materials" style="margin-top: 0;">
                                    <div>
                                        <h4 class="pull-left">
                                            {{ 'Materials' | industry | translate }} ({{ materials?.length }})
                                        </h4>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="materialsContainer">
                                        <p class="noMaterials pt-1" *ngIf="materials?.length <= 0">
                                            {{ 'No Materials' | industry | translate }}
                                        </p>
                                        <ul class="list-unstyled list-inline itemList">
                                            <li class="item" *ngFor="let material of materials">
                                                {{ localeService.getDisplayText(material) }}
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- materialsContainer -->
                                </div>
                                <!-- materials -->

                                <div class="standards" style="margin-top: 0;">
                                    <div>
                                        <h4 class="pull-left">
                                            {{ 'Standards' | translate }} &amp; {{ 'Certifications' | translate }} ({{
                                                standards?.length
                                            }})
                                        </h4>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="standardsContainer">
                                        <p class="noMaterials pt-1" *ngIf="standards?.length <= 0">
                                            {{ 'No Standards' | translate }} &amp; {{ 'Certifications' | translate }}
                                        </p>
                                        <div class="row" *ngIf="standards?.length > 0">
                                            <div
                                                class="col-md-2 standardsImageContainer"
                                                *ngFor="let certificate of standards; let i = index"
                                            >
                                                <div
                                                    class="certificate-item"
                                                    [tooltip]="certificateTooltipContent"
                                                    data-placement="top"
                                                    (click)="
                                                        certificateManagerService.downloadFile(
                                                            certificate.id,
                                                            certificate.uploadedFiles[0]
                                                        )
                                                    "
                                                    containerClass="certificateTooltip"
                                                    container="body"
                                                >
                                                    <img
                                                        src="{{ utilsService.getStandardImageUrl(certificate.typeId) }}"
                                                        (error)="utilsService.getDefaultCertificateImage($event.target)"
                                                        alt="Certificate Image"
                                                    />
                                                    <div class="overlay-download-icon">
                                                        <img
                                                            src="{{ env.IMG_URL }}images/icon-download-white.png"
                                                            alt="Download Certificate"
                                                        />
                                                    </div>
                                                    <div class="download-icon placement-bottom-right">
                                                        <img
                                                            src="{{ env.IMG_URL }}images/icon-download-grey.png"
                                                            alt="Download Certificate"
                                                        />
                                                    </div>
                                                </div>
                                                <ng-template #certificateTooltipContent>
                                                    <div
                                                        class="text-left"
                                                        style="background-color: #fff; border: 1px solid #f5f5f5;"
                                                    >
                                                        <h5 class="tt-font">
                                                            {{ localeService.getDisplayText(certificate.typeId) }}
                                                        </h5>
                                                        <h5 class="tt-font tt-font-regular">
                                                            {{ 'Validity' | translate }}:
                                                            <span style="font-weight: bold !important;">{{
                                                                certificate.expiryDate | date
                                                            }}</span>
                                                        </h5>
                                                        <h5 class="tt-font tt-font-regular">
                                                            {{ 'Certification Body' | translate }}:
                                                            <span style="font-weight: bold !important;">{{
                                                                certificate.body
                                                            }}</span>
                                                        </h5>
                                                        <h5 class="tt-font tt-font-regular">
                                                            {{ 'Facility Name' | translate }}:
                                                            <span style="font-weight: bold !important;">{{
                                                                certificate.facilityName
                                                            }}</span>
                                                        </h5>
                                                    </div>
                                                </ng-template>
                                            </div>
                                            <!-- col -->
                                        </div>
                                        <!-- row -->
                                    </div>
                                    <!-- standardsContainer -->
                                </div>
                                <!-- standards -->
                            </div>
                            <!-- col -->

                            <div class="col-md-4">
                                <div class="facilities">
                                    <h4>
                                        <ng-template
                                            [ngIf]="
                                                profileData.Facilities?.length === 0 ||
                                                profileData.Facilities?.length === 1
                                            "
                                            >{{ 'Facility' | translate }}</ng-template
                                        >
                                        <ng-template [ngIf]="profileData.Facilities?.length > 1">{{
                                            'Facilities' | translate
                                        }}</ng-template>
                                        ({{ profileData.Facilities?.length }})
                                    </h4>
                                    <div class="facilitiesContainer">
                                        <p class="noMaterials pt-1" *ngIf="profileData.Facilities?.length <= 0">
                                            {{ 'No Facilities' | translate }}
                                        </p>
                                        <ul class="list-unstyled">
                                            <li *ngFor="let facility of profileData.Facilities">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <span
                                                            class="facility-name hyperlink"
                                                            (click)="openFacilityModal(facility)"
                                                            >{{ facility.name }}</span
                                                        >
                                                    </div>
                                                    <!-- col -->
                                                    <div class="col-md-6">
                                                        <span
                                                            class="disabled-text fs-12"
                                                            *ngIf="!facility.address?.country"
                                                            >{{ 'Not Specified' | translate }}</span
                                                        >
                                                        <span>{{ facility.address?.country }}</span>
                                                        <span
                                                            class="flag-icon flag-icon-{{
                                                                getCountryCode(facility.address?.country)
                                                            }}"
                                                        ></span>
                                                    </div>
                                                    <!-- col -->
                                                </div>
                                                <!-- row -->
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- facilitiesContainer -->
                                </div>
                                <!-- facilities -->
                            </div>
                            <!-- col -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- modal-body -->

            <div class="modal-footer" style="text-align: center !important;">
                <button class="btn btn-reset reset-password-button" (click)="supplierProfileModal.hide()">
                    {{ 'Close' | translate }}
                </button>
            </div>
        </div>
        <!-- modal-content-->
    </div>
    <!-- modal-dialog -->
</div>
<!-- bs-modal-->

<div
    bsModal
    #facilityModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="facilityInfoModal"
    aria-hidden="true"
>
    <div class="modal-dialog modal-xlg">
        <div class="modal-content">
            <div class="modal-header blue-head">
                <h4 class="modal-title pull-left">{{ viewingFacility?.name }}</h4>
                <button
                    type="button"
                    style="color: #C5C5C5"
                    class="close pull-right"
                    (click)="facilityModal.hide()"
                    aria-label="Close"
                >
                    <img class="sni" src="{{ env.IMG_URL }}images/close.png" alt="Close icon" />
                </button>
            </div>
            <!-- modal-header -->
            <div class="modal-body" style="padding: 15px 30px;">
                <div class="row viewMode" *ngIf="viewingFacility">
                    <div class="col-md-3">
                        <div class="companyLogo">
                            <img
                                style="max-height: 260px; max-width: 100%;"
                                class="img-responsive"
                                src="{{ profileData.logo_url }}"
                                alt="Company Logo"
                            />
                        </div>
                        <!-- companyLogo -->

                        <div class="companyName">{{ viewingFacility.name }}</div>
                        <!-- Company Name -->

                        <div class="companyAddress" *ngIf="viewingFacility.address">
                            <address
                                *ngIf="
                                    viewingFacility.address.addressLine1 ||
                                    viewingFacility.address.country ||
                                    viewingFacility.address.city ||
                                    viewingFacility.address.state
                                "
                            >
                                <div *ngIf="viewingFacility.address.addressLine1">
                                    {{ viewingFacility.address.addressLine1 }}
                                </div>
                                <div *ngIf="viewingFacility.address.addressLine2">
                                    {{ viewingFacility.address.addressLine2 }}
                                </div>
                                <div *ngIf="viewingFacility.address.city">{{ viewingFacility.address.city }}</div>
                                <div *ngIf="viewingFacility.address.state">{{ viewingFacility.address.state }}</div>
                                <div>
                                    {{ viewingFacility.address.country }}
                                    <ng-template [ngIf]="viewingFacility.address.zip">-</ng-template>
                                    {{ viewingFacility.address.zip }}
                                </div>
                                <br />
                            </address>

                            <p
                                class="disabled-text fs-12"
                                style="text-align: left !important;"
                                *ngIf="
                                    !viewingFacility.address.addressLine1 &&
                                    !viewingFacility.address.country &&
                                    !viewingFacility.address.city &&
                                    !viewingFacility.address.state
                                "
                            >
                                {{ 'Address / Location not provided' | translate }}
                            </p>
                        </div>
                        <!-- Address -->

                        <div
                            class="contact"
                            *ngIf="
                                profileData.contactPersonName || profileData.contactEmail || profileData.contactMobile
                            "
                        >
                            <h4>{{ 'Contact Person' | translate }}</h4>
                            <p class="contactName">{{ profileData.contactPersonName }}</p>
                            <p class="contactEmail">{{ profileData.contactEmail }}</p>
                            <p class="contactMobile">{{ profileData.contactMobile }}</p>
                        </div>
                        <!-- contact -->
                    </div>
                    <!-- col -->

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="valueProcesses" style="margin-top: 0;">
                                    <div>
                                        <h4 class="pull-left">
                                            {{ 'Value Processes' | translate }} ({{
                                                viewingFacility.valueProcess?.length
                                            }})
                                        </h4>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="valueProcessesContainer">
                                        <p
                                            class="noMaterials pt-1 fs-14"
                                            *ngIf="viewingFacility.valueProcess?.length <= 0"
                                        >
                                            {{ 'No Value Processes' | translate }}
                                        </p>
                                        <ul class="list-unstyled list-inline itemList">
                                            <li class="item" *ngFor="let vp of viewingFacility.valueProcess">
                                                {{ localeService.getDisplayText(vp) }}
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- valueProcessesContainer -->
                                </div>
                                <!-- ValueProcesses -->

                                <div class="materials" style="margin-top: 0;">
                                    <div>
                                        <h4 class="pull-left">
                                            {{ 'Materials' | industry | translate }} ({{
                                                viewingFacility.materials?.length
                                            }})
                                        </h4>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="materialsContainer">
                                        <p
                                            class="noMaterials pt-1 fs-14"
                                            *ngIf="viewingFacility.materials?.length <= 0"
                                        >
                                            {{ 'No Materials' | industry | translate }}
                                        </p>
                                        <ul class="list-unstyled list-inline itemList">
                                            <li class="item" *ngFor="let material of viewingFacility.materials">
                                                {{ localeService.getDisplayText(material) }}
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- materialsContainer -->
                                </div>
                                <!-- materials -->

                                <div class="standards" style="margin-top: 0;">
                                    <div>
                                        <h4 class="pull-left">
                                            {{ 'Standards' | translate }} &amp; {{ 'Certifications' | translate }} ({{
                                                viewingFacility.certificateList?.length
                                            }})
                                        </h4>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="standardsContainer">
                                        <p
                                            class="noMaterials pt-1 fs-14"
                                            *ngIf="viewingFacility?.certificateList?.length <= 0"
                                        >
                                            {{ 'No Standards' | translate }} &amp; {{ 'Certifications' | translate }}
                                        </p>
                                        <div class="row" *ngIf="viewingFacility?.certificateList?.length > 0">
                                            <div
                                                class="col-md-2 standardsImageContainer"
                                                *ngFor="
                                                    let certificate of viewingFacility.certificateList;
                                                    let i = index
                                                "
                                            >
                                                <div
                                                    class="certificate-item"
                                                    [tooltip]="certificateTooltipContent"
                                                    data-placement="top"
                                                    (click)="
                                                        certificateManagerService.downloadFile(
                                                            certificate.id,
                                                            certificate.uploadedFiles[0]
                                                        )
                                                    "
                                                    containerClass="certificateTooltip"
                                                    container="body"
                                                >
                                                    <img
                                                        src="{{ utilsService.getStandardImageUrl(certificate.typeId) }}"
                                                        (error)="utilsService.getDefaultCertificateImage($event.target)"
                                                        alt="Certificate Image"
                                                    />
                                                    <div class="overlay-download-icon">
                                                        <img
                                                            src="{{ env.IMG_URL }}images/icon-download-white.png"
                                                            alt="Download Certificate"
                                                        />
                                                    </div>
                                                    <div class="download-icon placement-bottom-right">
                                                        <img
                                                            src="{{ env.IMG_URL }}images/icon-download-grey.png"
                                                            alt="Download Certificate"
                                                        />
                                                    </div>
                                                </div>
                                                <ng-template #certificateTooltipContent>
                                                    <div
                                                        class="text-left"
                                                        style="background-color: #fff; border: 1px solid #f5f5f5;"
                                                    >
                                                        <h5 class="tt-font">
                                                            {{ localeService.getDisplayText(certificate.typeId) }}
                                                        </h5>
                                                        <h5 class="tt-font tt-font-regular">
                                                            {{ 'Validity' | translate }}:
                                                            <span style="font-weight: bold !important;">{{
                                                                certificate.expiryDate | date
                                                            }}</span>
                                                        </h5>
                                                        <h5 class="tt-font tt-font-regular">
                                                            {{ 'Certification Body' | translate }}:
                                                            <span style="font-weight: bold !important;">{{
                                                                certificate.body
                                                            }}</span>
                                                        </h5>
                                                        <h5 class="tt-font tt-font-regular">
                                                            {{ 'Facility Name' | translate }}:
                                                            <span style="font-weight: bold !important;">{{
                                                                certificate.facilityName
                                                            }}</span>
                                                        </h5>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- standardsContainer -->
                                </div>
                                <!-- standards -->
                            </div>
                            <!-- col -->

                            <div class="col-md-4">
                                <div class="facilities">
                                    <h4>{{ 'Facility Location' | translate }}</h4>
                                    <div class="facilitiesContainer">
                                        <p
                                            class="noMaterials disabled-text fs-14 pt-1"
                                            *ngIf="!viewingFacility.address?.country"
                                        >
                                            {{ 'Not Provided' | translate }}
                                        </p>
                                        <p class="pt-1">
                                            <span
                                                class="flag-icon flag-icon-{{
                                                    getCountryCode(viewingFacility.address?.country)
                                                }}"
                                            ></span>
                                            <span style="margin-left: 10px;">{{
                                                viewingFacility.address?.country
                                            }}</span>
                                        </p>
                                    </div>
                                    <!-- facilitiesContainer -->
                                </div>
                                <!-- facilities -->
                            </div>
                            <!-- col -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
            <!-- modal-body -->

            <div class="modal-footer" style="text-align: center !important;">
                <button class="btn btn-reset reset-password-button" (click)="facilityModal.hide()">
                    {{ 'Close' | translate }}
                </button>
            </div>
        </div>
        <!-- modal-content-->
    </div>
    <!-- modal-dialog -->
</div>
<!-- bs-modal-->

<app-tr-modal #TRInfoModal [modalData]="selectedTR"></app-tr-modal>
