@import '~styles/variables';
@import '~styles/mixins';

.tooltip-user {
    display: block;
    font-family: $font-family-Regular;
    position: relative;
}
.tooltip-user [disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.no-users {
    font-family: $font-family-Regular;
    margin-top: 30px;
    font-size: 2em;
    color: #a5a5a5;
    text-align: center;
}

.custom-table {
    .action-modules {
        margin-left: -0.6em;
    }
}
