<ng-template [ngIf]="!isSubQuestion">
    <ol class="question">
        <li *ngFor="let question of questions[groupName][subGroupName]">
            <span
                id="{{ question.id }}"
                class="question-item"
                [ngClass]="{ 'current-question': isCurrentQuestion[question.id] && isCommentWindowValid }"
                (mouseover)="isCurrentQuestion[question.id] = true"
                (mouseout)="isCurrentQuestion[question.id] = false"
                *ngIf="question.category === 'METRICS'"
            >
                <span class="question-title single-row">{{ question.question }}</span>

                <span *ngIf="question.type === 'TEXT'">
                    <input
                        type="text"
                        id="{{ question.id }}"
                        [disabled]="isDisabled"
                        name="{{ question.id }}"
                        [(ngModel)]="responses[question.id]"
                        (blur)="saveSingleInput(question.id)"
                    />
                </span>

                <span *ngIf="question.type === 'NUMBER'">
                    <input
                        type="number"
                        id="{{ question.id }}"
                        [disabled]="isDisabled"
                        name="{{ question.id }}"
                        [(ngModel)]="responses[question.id]"
                        (blur)="saveSingleInput(question.id)"
                    />
                </span>
            </span>

            <span
                id="{{ question.id }}"
                class="question-item"
                [ngClass]="{ 'current-question': isCurrentQuestion[question.id] && isCommentWindowValid }"
                (mouseover)="isCurrentQuestion[question.id] = true"
                (mouseout)="isCurrentQuestion[question.id] = false"
                *ngIf="question.category !== 'METRICS'"
            >
                <span class="question-title">{{ question.question }}</span>
                <div class="row" *ngIf="question.type === 'SINGLE_SELECT'">
                    <div class="col-md-6  question-radio-container" *ngFor="let option of question.options | keys">
                        <input
                            type="radio"
                            id="{{ question.id }}-{{ option.key }}"
                            name="{{ question.id }}"
                            [value]="option.key"
                            [(ngModel)]="responses[question.id]"
                            [disabled]="isDisabled"
                            (change)="saveSingleInput(question.id)"
                        />
                        <label for="{{ question.id }}-{{ option.key }}">{{ option.value }}</label>
                    </div>
                </div>

                <div class="row check_box_group" *ngIf="question.type === 'MULTI_SELECT'">
                    <div class="col-md-6" *ngFor="let option of question.options | keys; let optionIndex = index">
                        <input
                            type="checkbox"
                            id="{{ question.id }}-{{ optionIndex }}"
                            [disabled]="isDisabled"
                            name="{{ question.id }}-{{ optionIndex }}"
                            [value]="option.key"
                            [(ngModel)]="responses[question.id][optionIndex]"
                            (change)="
                                saveCheckbox($event, question.id, option.key);
                                saveSingleInput(question.id, question.type)
                            "
                        />
                        <label for="{{ question.id }}-{{ optionIndex }}">
                            <span>{{ option.value }}</span></label
                        >
                    </div>
                </div>

                <div class="row check_box_group" *ngIf="question.type === 'SINGLE_DROP_COUNTRY'">
                    <div class="col-md-4">
                        <select
                            class="form-control"
                            name="sdq-{{ question.id }}"
                            id="sdq-{{ question.id }}"
                            (change)="saveSingleInput(question.id)"
                            [(ngModel)]="responses[question.id]"
                        >
                            <option value="" disabled selected>{{ 'Select Country' | translate }}</option>
                            <option [value]="country['id']" *ngFor="let country of countries">{{
                                country['name']
                            }}</option>
                        </select>
                    </div>
                </div>

                <!-- todo: add support for multi-drop-country -->

                <div class="row" *ngIf="question.type === 'TEXT'">
                    <div class="col-md-6">
                        <textarea
                            rows="4"
                            cols="100"
                            maxlength="800"
                            id="{{ question.id }}"
                            [disabled]="isDisabled"
                            name="{{ question.id }}"
                            [(ngModel)]="responses[question.id]"
                            (blur)="saveSingleInput(question.id)"
                        ></textarea>
                    </div>
                </div>

                <div class="row" *ngIf="question.type === 'NUMBER'">
                    <div class="col-md-6">
                        <input
                            type="number"
                            id="{{ question.id }}"
                            [disabled]="isDisabled"
                            name="{{ question.id }}"
                            [(ngModel)]="responses[question.id]"
                            (blur)="saveSingleInput(question.id)"
                        />
                    </div>
                </div>

                <div *ngIf="question['evidenceRequired'] && question['evidenceRequired'].length > 0">
                    <div class="form-group row" id="upload">
                        <ng-template ngFor let-evidence [ngForOf]="question['evidenceRequired']" let-oi="index">
                            <div class="col-md-6" *ngIf="evidence.id">
                                <p>{{ evidence.name }}</p>
                                <a
                                    class="upload-file-button"
                                    (click)="
                                        invokeEvidenceUpload(question.id + '-' + evidence.id, question.id, evidence.id)
                                    "
                                    *ngIf="!evidenceUploading[question.id + evidence.id] && !isDisabled"
                                >
                                    <b>{{ 'Upload file' | translate }} </b>
                                    <i class="fa fa-upload"></i>
                                </a>
                                <a class="upload-file-button" *ngIf="evidenceUploading[question.id + evidence.id]">
                                    <b>{{ 'Uploading file' | translate }} </b>
                                    <app-spinner [small]="true"></app-spinner>
                                </a>
                                <ul
                                    class="fileInputList"
                                    *ngIf="
                                        evidenceFiles &&
                                        evidenceFiles[question.id] &&
                                        evidenceFiles[question.id][evidence.id] &&
                                        evidenceFiles[question.id][evidence.id]['files']
                                    "
                                >
                                    <li
                                        class="files"
                                        *ngFor="let file of evidenceFiles[question.id][evidence.id]['files']"
                                        [tooltip]="file"
                                        data-placement="right"
                                    >
                                        <span
                                            class="download"
                                            (click)="
                                                getEvidenceFile(
                                                    evidenceFiles[question.id][evidence.id]['evidenceId'],
                                                    file
                                                )
                                            "
                                        >
                                            <i class="fa fa-download"></i>
                                            <span class="fileName">{{ file }}</span>
                                        </span>
                                        <span
                                            class="delete pull-right"
                                            (click)="
                                                removeFile(
                                                    evidenceFiles[question.id][evidence.id]['evidenceId'],
                                                    file,
                                                    question.id,
                                                    evidence.id
                                                )
                                            "
                                        >
                                            <i class="fa fa-close"></i>
                                        </span>
                                    </li>
                                </ul>
                                <input
                                    *ngIf="!isDisabled"
                                    type="file"
                                    id="{{ question.id }}-{{ evidence.id }}"
                                    name="{{ question.id }}-{{ evidence.id }}"
                                    [(ngModel)]="responses[evidence.id]"
                                    (change)="uploadEvidence($event.target.files, question.id, evidence.id)"
                                />
                                <ng-template [ngIf]="answered[evidence.id]">
                                    <i class="material-icons">close</i>
                                </ng-template>
                            </div>
                        </ng-template>
                    </div>
                    <!-- form-group -->
                </div>
                <!-- File -->
            </span>

            <ng-template [ngIf]="question['subQuestion'] && question['options']">
                <ng-template ngFor let-option [ngForOf]="question.options | keys" let-optionIndex="index">
                    <app-survey-questions
                        *ngIf="question['subQuestion'][option.key]"
                        [responses]="responses"
                        [parentQuestionId]="question.id"
                        [optionIndex]="optionIndex"
                        [subQuestionForOption]="option.key"
                        [answered]="answered"
                        [questions]="question['subQuestion'][option.key]"
                        [assessmentId]="assessmentId"
                        [isDisabled]="isDisabled"
                        [facilityId]="facilityId"
                        [isSubQuestion]="true"
                    ></app-survey-questions>
                </ng-template>
            </ng-template>
        </li>
    </ol>
</ng-template>

<ng-template [ngIf]="isSubQuestion">
    <ol
        class="subQuestion"
        *ngIf="
            responses[parentQuestionId] &&
            (responses[parentQuestionId] === subQuestionForOption ||
                (responses[parentQuestionId] !== null &&
                    responses[parentQuestionId][optionIndex] &&
                    responses[parentQuestionId][optionIndex] === true))
        "
    >
        <li class="question-item" *ngFor="let question of questions">
            <!--<div class="parentOption">-->
            <!--{{subQuestionForOption}}-->
            <!--</div>-->
            <span
                id="{{ question.id }}"
                [ngClass]="{ 'current-question': isCurrentQuestion[question.id] }"
                (mouseover)="isCurrentQuestion[question.id] = true"
                (mouseout)="isCurrentQuestion[question.id] = false"
                *ngIf="question.category === 'METRICS'"
            >
                <span class="question-title single-row">{{ question.question }}</span>

                <span *ngIf="question.type === 'TEXT'">
                    <input
                        type="text"
                        id="{{ question.id }}"
                        name="{{ question.id }}"
                        [disabled]="isDisabled"
                        [(ngModel)]="responses[question.id]"
                        (blur)="saveSingleInput(question.id)"
                    />
                </span>

                <span *ngIf="question.type === 'NUMBER'">
                    <input
                        type="number"
                        id="{{ question.id }}"
                        name="{{ question.id }}"
                        [disabled]="isDisabled"
                        [(ngModel)]="responses[question.id]"
                        (blur)="saveSingleInput(question.id)"
                    />
                </span>

                <ng-template [ngIf]="question['subQuestion'] && question['options']">
                    <ng-template ngFor let-option [ngForOf]="question.options" let-optionIndex="index">
                        <app-survey-questions
                            *ngIf="question['subQuestion'][option]"
                            [responses]="responses"
                            [isDisabled]="isDisabled"
                            [parentQuestionId]="question.id"
                            [optionIndex]="optionIndex"
                            [subQuestionForOption]="option"
                            [answered]="answered"
                            [questions]="question['subQuestion'][option]"
                            [assessmentId]="assessmentId"
                            [facilityId]="facilityId"
                            [isSubQuestion]="true"
                        ></app-survey-questions>
                    </ng-template>
                </ng-template>
            </span>
            <span
                id="{{ question.id }}"
                [ngClass]="{ 'current-question': isCurrentQuestion[question.id] }"
                (mouseover)="isCurrentQuestion[question.id] = true"
                (mouseout)="isCurrentQuestion[question.id] = false"
                *ngIf="question.category !== 'METRICS'"
            >
                <span class="question-title">{{ question.question }} </span>
                <div class="row" *ngIf="question.type === 'SINGLE_SELECT'">
                    <div class="col-md-6  question-radio-container" *ngFor="let option of question.options | keys">
                        <input
                            type="radio"
                            id="{{ question.id }}-{{ option.key }}"
                            name="{{ question.id }}"
                            [value]="option.key"
                            [(ngModel)]="responses[question.id]"
                            [disabled]="isDisabled"
                            (change)="saveSingleInput(question.id)"
                        />
                        <label for="{{ question.id }}-{{ option.key }}">{{ option.value }}</label>
                    </div>
                </div>

                <div class="row check_box_group" *ngIf="question.type === 'MULTI_SELECT'">
                    <div class="col-md-6" *ngFor="let option of question.options | keys; let optionIndex = index">
                        <input
                            type="checkbox"
                            id="{{ question.id }}-{{ optionIndex }}"
                            [disabled]="isDisabled"
                            name="{{ question.id }}-{{ optionIndex }}"
                            [value]="option.key"
                            [(ngModel)]="responses[question.id][optionIndex]"
                            (change)="
                                saveCheckbox($event, question.id, option.key);
                                saveSingleInput(question.id, question.type)
                            "
                        />
                        <label for="{{ question.id }}-{{ optionIndex }}">
                            <span>{{ option.value }}</span></label
                        >
                    </div>
                </div>

                <div class="row check_box_group" *ngIf="question.type === 'SINGLE_DROP_COUNTRY'">
                    <div class="col-md-4">
                        <select
                            class="form-control"
                            name="sdq-{{ question.id }}"
                            id="sdq-{{ question.id }}"
                            (change)="saveSingleInput(question.id)"
                            [(ngModel)]="responses[question.id]"
                        >
                            <option value="" disabled selected>{{ 'Select Country' | translate }}</option>
                            <option [value]="country['id']" *ngFor="let country of countries">{{
                                country['name']
                            }}</option>
                        </select>
                    </div>
                </div>

                <!-- todo: add support for multi-drop-country -->

                <div class="row" *ngIf="question.type === 'TEXT'">
                    <div class="col-md-6">
                        <textarea
                            rows="4"
                            cols="100"
                            maxlength="800"
                            id="{{ question.id }}"
                            name="{{ question.id }}"
                            [disabled]="isDisabled"
                            [(ngModel)]="responses[question.id]"
                            (blur)="saveSingleInput(question.id)"
                        ></textarea>
                    </div>
                </div>

                <div class="row" *ngIf="question.type === 'NUMBER'">
                    <div class="col-md-6">
                        <input
                            type="number"
                            id="{{ question.id }}"
                            name="{{ question.id }}"
                            [disabled]="isDisabled"
                            [(ngModel)]="responses[question.id]"
                            (blur)="saveSingleInput(question.id)"
                        />
                    </div>
                </div>

                <div *ngIf="question['evidenceRequired'] && question['evidenceRequired'].length > 0">
                    <div class="form-group row" id="upload">
                        <ng-template ngFor let-evidence [ngForOf]="question['evidenceRequired']" let-oi="index">
                            <div class="col-md-6" *ngIf="evidence.id">
                                <p>{{ evidence.name }}</p>
                                <a
                                    (click)="
                                        invokeEvidenceUpload(question.id + '-' + evidence.id, question.id, evidence.id)
                                    "
                                    *ngIf="!evidenceUploading[question.id + evidence.id] && !isDisabled"
                                >
                                    <strong>{{ 'Upload file' | translate }} </strong>
                                    <i class="fa fa-upload"></i>
                                </a>
                                <a class="upload-file-button" *ngIf="evidenceUploading[question.id + evidence.id]">
                                    <strong>{{ 'Uploading file' | translate }}</strong>
                                    <app-spinner [small]="true"></app-spinner>
                                </a>
                                <ul
                                    class="fileInputList"
                                    *ngIf="
                                        evidenceFiles &&
                                        evidenceFiles[question.id] &&
                                        evidenceFiles[question.id][evidence.id] &&
                                        evidenceFiles[question.id][evidence.id]['files']
                                    "
                                >
                                    <li
                                        class="files"
                                        *ngFor="let file of evidenceFiles[question.id][evidence.id]['files']"
                                        [tooltip]="file"
                                        data-placement="right"
                                    >
                                        <span
                                            class="download"
                                            (click)="
                                                getEvidenceFile(
                                                    evidenceFiles[question.id][evidence.id]['evidenceId'],
                                                    file
                                                )
                                            "
                                        >
                                            <i class="fa fa-download"></i>
                                            <span class="fileName">{{ file }}</span>
                                        </span>
                                        <span
                                            class="delete pull-right"
                                            (click)="
                                                removeFile(
                                                    evidenceFiles[question.id][evidence.id]['evidenceId'],
                                                    file,
                                                    question.id,
                                                    evidence.id
                                                )
                                            "
                                        >
                                            <i class="fa fa-close"></i>
                                        </span>
                                    </li>
                                </ul>
                                <input
                                    type="file"
                                    id="{{ question.id }}-{{ evidence.id }}"
                                    name="{{ question.id }}-{{ evidence.id }}"
                                    [(ngModel)]="responses[evidence.id]"
                                    *ngIf="!isDisabled"
                                    (change)="uploadEvidence($event.target.files, question.id, evidence.id)"
                                />
                                <ng-template [ngIf]="answered[evidence.id]">
                                    <i class="material-icons">close</i>
                                </ng-template>
                            </div>
                        </ng-template>
                    </div>
                    <!-- form-group -->
                </div>
                <!-- File -->
                <ng-template [ngIf]="question['subQuestion'] && question['options']">
                    <ng-template ngFor let-option [ngForOf]="question.options | keys" let-optionIndex="index">
                        <app-survey-questions
                            *ngIf="question['subQuestion'][option.key]"
                            [responses]="responses"
                            [isDisabled]="isDisabled"
                            [parentQuestionId]="question.id"
                            [optionIndex]="optionIndex"
                            [subQuestionForOption]="option.key"
                            [answered]="answered"
                            [questions]="question['subQuestion'][option.key]"
                            [assessmentId]="assessmentId"
                            [facilityId]="facilityId"
                            [isSubQuestion]="true"
                        ></app-survey-questions>
                    </ng-template>
                </ng-template>
            </span>
        </li>
    </ol>
</ng-template>
