@import '~styles/variables';

.ec-upload-certificate-modal {
    font-family: $font-family-Regular;
    color: $text-color-primary;
    height: 100%;
    position: relative;
}
.ec-upload-certificate-modal-title {
    font-family: $font-family-Bold;
    font-size: 16px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.ec-upload-certificate-details-container {
    height: 190px;
    width: 100%;
    white-space: initial;
    overflow-y: auto;
    .ec-upload-certificate-details {
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;
        div.filename {
            padding-right: 10px;
        }

        div {
            font-family: $font-family-Semibold;
            font-size: 17px;
            line-height: 27px;
            span {
                font-family: $font-family-Bold;
            }
        }
    }
    &.no-certificates-found {
        margin: 0 auto;
        text-align: center;
        width: 45%;
        font-family: $font-family-Bold;
        font-size: 16px;
        img {
            width: 102px;
            height: 102px;
        }
    }
}
.icon {
    width: 18px;
    height: 18px;
    margin-left: 30px;
    float: right;
}
.drag-file-upload-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    .drag-file-upload {
        width: 80%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        color: $text-color-drag-file;
        border: dashed 1px $text-color-drag-file;
        font-family: $font-family-Regular;
        font-size: 12px;
        margin: 0 auto;
        cursor: pointer;
        .drag-file-upload-icon .mat-icon {
            height: 18px;
            width: 18px;
            font-size: 18px;
        }
    }
}
