@import '~styles/variables';
@import '~styles/mixins';

.tooltip-group {
    display: inline-block;
    font-family: $font-family-Regular;
    position: relative;
}
.tooltip-group [disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.no-groups {
    font-family: $font-family-Regular;
    margin-top: 30px;
    font-size: 2em;
    color: #a5a5a5;
    text-align: center;
}
