@import '~styles/variables';
div.sticky {
    position: sticky;
    bottom: 0px;
    text-align: center;
    height: 60px;
    background: white;
}

.sticky-search {
    width: 100%;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
}
.input-element {
    font-size: 14px;
    color: $text-color-primary !important;
}
