@import '~styles/variables';
.tr-to-be-launched {
    padding-left: 22px;
}
.cancel-btn,
.save-btn {
    border-radius: 5px;
    width: 100%;
}
.select-tr-option {
    color: $text-color;
}
.text-blue-primary {
    color: #325992 !important;
    font-family: $font-family-Bold !important;
}
.material-form-input {
    .mat-input-element {
        padding-left: 15px;
    }
}
.input-width-to-atleast-75char {
    width: 750px !important;
}
