@import '../../../styles/variables';

.table-responsive {
    padding: 5px 0;
}

.custom-table {
    width: 100%;
    max-width: 100%;
    margin: 0;
    thead {
        display: table;
        table-layout: fixed;
        width: auto;
    }
    tbody {
        display: block;
        max-height: calc(100vh - 27em);
        overflow: auto;
        margin-bottom: 40px;
    }
    tr {
        outline: none;
    }
    tfoot {
        position: relative;
        .table-footer-block {
            box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.16);
            background-color: #fff;
            position: fixed;
            left: 251px;
            bottom: 0;
            background: #fff;
            width: calc(100% - 15.5em);
            display: flex;
            padding: 20px 30px;
            padding-left: 23px;
            color: $text-color-primary;
            margin-bottom: 0;
        }
        > tr {
            > td {
                border-bottom: 0 !important;
            }
        }
    }
    tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    th,
    td {
        line-height: 1.4;
        padding: 1em 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px !important;
        &:first-child {
            width: 160px;
            padding-left: 35px;
        }
        &:nth-child(2) {
            width: 200px;
        }
        &:nth-child(5) {
            padding-left: 5px;
            width: 230px;
        }
        @media screen and (min-width: 1951px) {
            width: auto;
        }
        @media screen and (max-width: 1950px) {
            width: 170px;
        }
        @media screen and (max-width: 1279px) {
            width: 150px;
        }
    }
    th {
        vertical-align: top;
    }
    td {
        padding: 1.3em 10px;
        &:first-child {
            padding-left: 25px;
            @media screen and (max-width: 1200px) {
                width: 150px;
            }
        }
        &:nth-child(2) {
            padding-left: 5px;
        }
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            padding-left: 5px;
        }
        &:last-child {
            padding-left: 10px;
        }
    }
}

.outbound-table {
    th,
    td {
        &:nth-child(n + 5) {
            padding-left: 10px;
        }
    }
}
.action-icon {
    position: relative;
    top: 15px;
    img {
        width: 24px;
        height: 22px;
    }
    .document-details {
        font-size: 9px;
        font-weight: normal;
        line-height: 1.11;
        text-align: left;
        color: #929292;
        padding-top: 5px;
    }
    .action-icon-flex {
        display: inline-flex;
        padding-right: 25px;
        &:last-child {
            padding-right: 0;
        }
        &.delete-icon img {
            width: 18px;
            height: 22px;
            margin-left: 5px;
        }
    }
}

.mat-form-field-box {
    input {
        border: 1px solid #000;
    }
}
.body-section {
    padding-top: 30px;
}

.body-header-section {
    .title {
        color: #325992;
        font-size: 14px;
        font-weight: bold;
        padding-left: 20px;
    }
}

.body-section-left {
    .title {
        color: #325992;
        font-size: 14px;
        font-weight: bold;
        padding-left: 20px;
    }
}
.body-section-right {
    padding-top: 15px;
    margin-right: 20px;
    .btn-secondary-blue {
        border-radius: 3px;
        background-color: #e6fbff;
        font-weight: bold;
        font-size: 14px;
        color: #325992;
        align-items: center;
        display: inline-flex;
        padding: 3px 20px;
        &:hover {
            color: #325992;
        }
        img {
            width: 15px;
            margin-right: 10px;
            position: relative;
            top: -2px;
            color: #325992;
        }
    }
}

.transaction-button-block {
    .btn {
        padding: 5px 20px;
        color: #373737;
        margin: 10px 0;
        font-weight: bold;
        &:hover {
            color: #373737;
        }
    }
    .cancel-btn {
        border-radius: 4px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
        border: 1px solid #cbcbcb;
        margin-right: 15px;
        background: #fff;
    }
    .submit-btn {
        border-radius: 4px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.04);
        background-color: #9bffc1;
        margin-right: 20px;
    }
}
