@import '~styles/variables';

.hr {
    margin-top: 30px;
    border-bottom: 1px solid #ececec;
    font-family: $font-family-Bold;
    color: #cccccc;
}
.hr-title {
    font-family: $font-family-Bold;
    color: #325992;
}
.main-container {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 30px;
}
.back-button-div {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 20px;
}
.btn-light {
    background: #f1f1f1;
    border-radius: 5px;
}
.supplier-profile {
    width: 20%;
    float: left;
    margin-top: 10px;
}
.location-subtext {
    line-height: 2;
    font-family: $font-family-Regular;
    word-wrap: break-word;
}
.contact-section {
    line-height: 2;
    word-wrap: break-word;
}

.noData {
    margin-top: 60px;
    text-align: center;
    color: #ccc;
    font-family: $font-family-Regular;
}

.noCertData {
    text-align: center;
    color: #ccc;
    font-family: $font-family-Regular;
    padding-right: 84px;
    padding-left: 84px;
    margin-top: -19px;
}

.noFacilitesData {
    text-align: center;
    color: #ccc;
    font-family: $font-family-Regular;
    padding-right: 84px;
    padding-left: 84px;
    margin-top: 35px;
}
.no-vp-mat-data {
    text-align: center;
    color: #ccc;
    font-family: $font-family-Regular;
    padding-right: 84px;
    padding-left: 84px;
    margin-top: 60px;
}
.contact-subtext {
    font-family: $font-family-Regular;
    color: #474747;
    margin-top: 0px;
    word-wrap: break-word;
}
.supplier-statistics {
    float: left;
    padding-left: 50px;
    margin-top: 20px;
}
.supplier-name-heading {
    margin-bottom: 10px;
    word-break: break-all;
}

.state-country {
    margin-top: 10px;
}
.star-rating {
    padding-right: 34px;
}
.description {
    float: left;
    word-break: break-all;
}
.supplier-description {
    font-size: 18px;
    font-family: $font-family-Light;
    color: #474747;
    float: left;
    padding-right: 200px;
}
.supplier-stats {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.thumbnail {
    width: 100%;
    height: auto;
    border: 0;
    box-shadow: 0 0 4px #ccc;
    border-radius: 10px;
}
.supplier-heading {
    font-size: 30px;
    font-family: $font-family-Regular;
    color: #325992;
}

.supplier-title {
    font-size: 16px;
    font-family: $font-family-Semibold;
    color: #474747;
    line-height: 20px;
    padding-bottom: 16px;
}

/* FLEX BOXES */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: -21px;
}
.flex-container > div {
    width: 190px;
    margin: 0px;
}
.rating-heading {
    margin-top: 15px;
    color: #848383;
    font-size: 14px;
    text-align: right;
    margin-right: 4px;
}
.male-numbers {
    text-align: center;
    font-family: $font-family-Bold;
    font-size: 24px;
    color: #39a7ab;
}
.male-title {
    text-align: center;
    font-family: $font-family-Regular;
    font-size: 15px;
    color: #39a7ab;
    margin-top: 0px;
}
.female-numbers {
    text-align: center;
    font-family: $font-family-Bold;
    font-size: 24px;
    color: #396fab;
}
.female-title {
    text-align: center;
    font-family: $font-family-Regular;
    font-size: 15px;
    color: #396fab;
    margin-top: 0px;
}

.others-numbers {
    text-align: center;
    font-family: $font-family-Bold;
    font-size: 24px;
    color: #21afd3;
}
.others-title {
    text-align: center;
    font-family: $font-family-Regular;
    font-size: 15px;
    color: #21afd3;
    margin-top: 0px;
}
.yor-numbers {
    text-align: center;
    font-family: $font-family-Bold;
    font-size: 24px;
    color: #6d46d0;
}
.yor-title {
    text-align: center;
    font-family: $font-family-Regular;
    font-size: 15px;
    color: #6d46d0;
    margin-top: 0px;
}
.op-numbers {
    text-align: center;
    font-family: $font-family-Bold;
    font-size: 24px;
    color: #d852d3;
}
.op-title {
    text-align: center;
    font-family: $font-family-Regular;
    font-size: 15px;
    color: #d852d3;
    margin-top: -10px;
}
.style-numbers {
    text-align: center;
    font-family: $font-family-Bold;
    font-size: 24px;
    color: #f34d97;
}
.style-title {
    text-align: center;
    font-family: $font-family-Regular;
    font-size: 15px;
    color: #f34d97;
    margin-top: -10px;
}
.assessment-numbers {
    text-align: center;
    font-family: $font-family-Bold;
    font-size: 24px;
    color: #396fab;
}
.assessment-title {
    text-align: center;
    font-family: $font-family-Regular;
    font-size: 15px;
    color: #396fab;
    margin-top: 0px;
}
.traceability-numbers {
    text-align: center;
    font-family: $font-family-Bold;
    font-size: 24px;
    color: #6d46d0;
}
.traceability-title {
    text-align: center;
    font-family: $font-family-Regular;
    font-size: 15px;
    color: #6d46d0;
    margin-top: 0px;
}
.horizontal-div-wrapper {
    margin-top: 0px;
}
.vp-mt-cert-container {
    margin-top: 80px;
    @media #{$responsive-max-1023} {
        width: 100%;
    }
}
.todo-facilities-container {
    width: 50%;
    float: left;
    padding-right: 50px;
    @media #{$responsive-max-1023} {
        width: 100%;
    }
}
/* TODO WIDGET */
.todo-list-div {
    /* float: left;
     width:50%;
     padding-right: 50px;
     height: 244px; */
    display: flex;
    flex-direction: column;
}
.todo-list-item {
    overflow: auto;
    height: 100px;
    padding: 0px;
}
.todo-list-title {
    font-family: $font-family-Semibold;
    font-size: 18px;
    color: #474747;
}
.todo-list-date {
    font-family: $font-family-Semibold;
    font-size: 16px;
    color: #a3a3a3;
}
input[type='text'],
select {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
}
/* END OF TODO */
.cert-thumb {
    width: 100px;
    height: 100px;
    border: #cccccc;
    border-style: solid;
    border-width: 1px;
    margin-left: 23px;
    margin-top: 26px;
}
.facilities-div {
    min-height: 120px;
    padding: 5px;
}
.sub-suppliers-div {
    padding: 5px;
}

.facility-location {
    word-wrap: break-word;
}
.supplier-name {
    font-family: $font-family-Bold;
    font-size: 16px;
    color: #325992;
    word-wrap: break-word;
}
.flag-icon {
    float: right;
    margin-top: 4px;
}
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
/* align icon */
.left-addon .glyphicon {
    left: 7px;
    top: 24px;
}
.right-addon .glyphicon {
    right: 0px;
}
/* add padding */
.left-addon input {
    padding-left: 40px;
}
.right-addon input {
    padding-right: 30px;
}
/********STAR RATING**********/
/****** Style Star Rating Widget *****/
.rating {
    border: none;
}
.rating > input {
    display: none;
}
.rating > label:before {
    margin-top: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: '\f005';
    border: none;
}
.rating > .half:before {
    content: '\f089';
    position: absolute;
}
.rating > label {
    color: #ddd;
    float: right;
}
.rating-radioBtn {
    background: #fff;
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label, 
/* show gold star when clicked */
 .rating:not(:checked) > label:hover, 
/* hover current star */
 .rating:not(:checked) > label:hover ~ label {
    color: rgb(73, 195, 252);
}
/* hover previous stars in list */
.rating > input:checked + label:hover, 
/* hover current star when changing rating */
 .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, 
/* lighten current selection */
 .rating > input:checked ~ label:hover ~ label {
    color: rgb(73, 195, 252);
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
    content: '';
    width: 0px;
    height: 0px;
    background: #ffffff;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    transition: all 0.2s ease;
}
.mat-chip:not(.mat-basic-chip) + .mat-chip:not(.mat-basic-chip) {
    margin: 6px 0px 5px 7px;
}
.chip-list {
    width: 100%;
    //margin-bottom: 20px;
}
.chip-input {
    padding: 8px;
}
.vp-tags {
    background: rgb(156, 253, 205);
    color: rgb(3, 63, 141);
    margin: 30px;
}
.mt-tags {
    background: rgb(156, 242, 253);
    color: rgb(3, 63, 141);
    margin: 30px;
}
.chip-style {
    background: rgb(156, 253, 205);
    color: rgb(3, 63, 141);
}

.todo-facilities-container {
    width: 50%;
    float: left;
    padding-right: 50px;
    @media #{$responsive-max-1023} {
        width: 100%;
    }
}

.certification-contianer {
    margin-top: -43px;
}

.edit-img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    opacity: 0.3;
    margin-left: 5px;
}

.edit-img:hover {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.save-btn {
    margin-top: 10px;
    background: #7effbe;
    color: #474747;
    border-radius: 5px;
    font-family: $font-family-Semibold;
    width: 50%;
}

.cancel-btn {
    margin-top: 10px;
    background: #71eeff;
    color: #474747;
    border-radius: 5px;
    font-family: $font-family-Semibold;
    width: 50%;
}

.edit-btn-container {
    margin-top: -27px;
    float: right;
}

.add-contact-container {
    width: 100%;
    margin-top: 15px;
}

.mat-form-field {
    width: 100%;
    font-family: $font-family-Regular;
    font-size: 14px;
    margin-top: -20px;
}

.btn-container {
    display: inline-block;
    float: right;
    padding: 5px;
}

.save-btn {
    margin-top: 10px;
    background: #7effbe;
    color: #474747;
    border-radius: 5px;
    font-family: $font-family-Semibold;
    width: 50%;
}

.cancel-btn {
    margin-top: 10px;
    background: #71eeff;
    color: #474747;
    border-radius: 5px;
    font-family: $font-family-Semibold;
    width: 50%;
}
.location-input {
    margin-top: 5px;
    font-family: $font-family-Regular;
    font-size: 14px;
}
.users-lists {
    overflow: auto;
    max-height: 200px;
}
.facilities-lists {
    overflow: auto;
    max-height: 370px;
}
.sub-supliers-lists {
    overflow: auto;
    max-height: 370px;
    margin-bottom: 20px;
}
.checked {
    color: #49c3fc;
    margin-left: 11px;
}
.not-checked {
    color: #ddd;
    margin-left: 11px;
}
.fa {
    float: right;
    font-size: 1.25em;
}
.table-responsive {
    overflow: auto;
    max-height: 370px;
}
.facility-card-width {
    width: 80%;
}
.table-card-left {
    width: unset !important;
}
.audit-table {
    overflow: auto;
    max-height: 370px;
    min-height: 120px;
    padding: 5px;
}
.no-data {
    text-align: center;
    color: #ccc;
    font-family: $font-family-Regular;
    padding-right: 84px;
    padding-left: 84px;
    margin-top: 60px;
}
div.hr {
    margin-bottom: 40px;
}
.toby .form-group.selected div.selected {
    border-bottom: 3px solid #33dbff;
    margin: 0 auto;
    width: 60%;
    margin-top: 5px;
}
.supplier-additional-info {
    margin-left: -30px;
}
/* .text-color-primary {
    position: relative;
}
.ec-loader {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */
