<div class="row" id="reset-password-container">
    <div class="col-md-5 pd-0 hidden-sm hidden-xs">
        <div class="section-wrap">
            <div class="section-left-wrap">
                <div id="login-logo-container">
                    <a routerLink="/">
                        <img src="{{ env.IMG_URL }}images/trustrace_logo_black.svg" alt="TrusTrace" />
                    </a>
                </div>
                <div class="section-left-wrap-header">
                    <h3 class="title">Trust Through Traceability</h3>
                    <p class="description">
                        {{
                            'Transform your supply chain and product portfolio to align with your sustainability goals'
                                | translate
                        }}.
                    </p>
                </div>
                <div class="signup-bg">
                    <img src="{{ env.IMG_URL }}images/generic-login.png" alt="TrusTrace" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-sm-12 col-xs-12 pd-0" id="reset-password-form-inputs">
        <div class="center-block-section">
            <div class="center-block">
                <div class="mobile-section-wrap">
                    <div class="mobile-section-logo-wrap">
                        <div id="login-logo-container">
                            <a routerLink="/">
                                <img src="{{ env.IMG_URL }}images/trustrace_logo_black.svg" alt="TrusTrace" />
                            </a>
                        </div>
                        <div class="mobile-signup-bg">
                            <img src="{{ env.IMG_URL }}images/generic-login.png" alt="TrusTrace" />
                        </div>
                    </div>
                </div>
                <form
                    class="form-block"
                    id="reset-password-form"
                    [formGroup]="resetPasswordForm"
                    (ngSubmit)="onResetPassword()"
                >
                    <mat-card class="example-card">
                        <mat-card-content *ngIf="!isExpired; else expiredTemplate">
                            <h4 class="reset-password-title">{{ 'Reset your password' | translate }}</h4>
                            <mat-form-field class="password-mat-form-field">
                                <mat-label class="form-field-label password-form-field-label"
                                    >{{ 'Your New Password' | translate }} <span class="color-red">*</span>:</mat-label
                                >
                                <input
                                    matInput
                                    placeholder="New Password"
                                    [type]="passwordHide ? 'password' : 'text'"
                                    id="rp-password"
                                    formControlName="password"
                                    [popover]="passwordRules"
                                    placement="left"
                                    triggers="focus:focusout"
                                    [(ngModel)]="password"
                                />
                                <button
                                    type="button"
                                    mat-icon-button
                                    matSuffix
                                    (click)="passwordHide = !passwordHide"
                                    [attr.aria-label]="'Hide password'"
                                >
                                    <mat-icon [matTooltip]="passwordHide ? 'Show password' : 'Hide password'">{{
                                        passwordHide ? 'visibility' : 'visibility_off'
                                    }}</mat-icon>
                                </button>
                            </mat-form-field>
                            <mat-form-field class="password-mat-form-field">
                                <mat-label class="form-field-label password-form-field-label"
                                    >{{ 'Retype Password' | translate }} <span class="color-red">*</span>:</mat-label
                                >
                                <input
                                    matInput
                                    placeholder="Retype password"
                                    [type]="confirmPasswordHide ? 'password' : 'text'"
                                    id="rp-confirm-password"
                                    formControlName="confirm_password"
                                    [popover]="confirmPasswordRule"
                                    placement="left"
                                    triggers="focus:focusout"
                                    [(ngModel)]="confirmPassword"
                                />
                                <button
                                    type="button"
                                    mat-icon-button
                                    matSuffix
                                    (click)="confirmPasswordHide = !confirmPasswordHide"
                                    [attr.aria-label]="'Hide password'"
                                    [matTooltip]="confirmPasswordHide ? 'Show password' : 'Hide password'"
                                >
                                    <mat-icon>{{ confirmPasswordHide ? 'visibility' : 'visibility_off' }}</mat-icon>
                                </button>
                            </mat-form-field>
                            <div class="button-block">
                                <button
                                    class="btn btn-gradient reset-password-button"
                                    [ngClass]="{ 'reset-password-button-disabled': !resetPasswordForm.valid }"
                                    type="submit"
                                    (click)="analyticsResetPasswordClicked()"
                                    [disabled]="!passwordGood || processing"
                                >
                                    {{ 'Set Password' | translate }}
                                </button>
                                <div *ngIf="processing" class="material-loader">
                                    <mat-spinner class="material-spinner"></mat-spinner>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>

                <ng-template #expiredTemplate>
                    <h1>
                        <mat-icon>link_off</mat-icon>
                    </h1>
                    <h4 class="reset-password-title invalid">{{ 'Reset password token is invalid' | translate }}</h4>
                    <p class="reset-password-description invalid">
                        {{ 'To generate a new link' | translate }} ,<br />
                        {{ 'please click on the Reset Password button below' | translate }}
                    </p>

                    <div class="button-block">
                        <button
                            (click)="onNavigate()"
                            class="btn btn-gradient
                        reset-password-button invalid"
                        >
                            {{ 'Reset Password' | translate }}
                        </button>
                    </div>
                </ng-template>
            </div>
            <div id="footer-section">
                <span class="trustrace-info">
                    &copy; {{ currentYear }} TrusTrace.com
                    <div>
                        {{ 'For Help: Please contact' | translate }}
                        <b>
                            <a href="mailto:yoda@trustrace.com">
                                yoda@trustrace.com
                            </a>
                        </b>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<ng-template #passwordRules>
    <div class="password-rules" appPasswordValidator [password]="password" (isValid)="validatePassword($event)"></div>
</ng-template>
<ng-template #confirmPasswordRule>
    <div class="password-rules">
        <div>
            <h4 class="password-rules--title">
                <img [src]="environment.IMG_URL + 'images/info.png'" alt="Trustrace Info" />{{
                    'Password Rule' | translate
                }}
            </h4>
            <div class="password-rules--content" style="margin-top: 26px;">
                <ul class="list-unstyled" style="padding-left: 6px;">
                    <li>
                        <span>
                            <i class="fa {{ password === confirmPassword ? 'green fa-check' : 'red fa-times' }}"></i
                        ></span>
                        {{ 'Confirm password should match password' | translate }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>
