@import '~styles/variables';
.tt-date-filter-container {
    min-width: 230px;
    font-family: $font-family-Regular;
    .mat-select-panel-wrap {
        flex-basis: 75%;
    }
}
.menu-filter-item-button {
    height: 40px;
    margin-right: 0px;
    font-size: 16px;
    background: #fff;
    font-family: $font-family-Semibold;
    margin-left: 0px;
    margin-top: 0px;
    border-radius: 4px;
    border: solid 1px #bababa;
    background-color: #ffffff;
}
.options-list {
    position: relative;
    margin: 10px 0;
    display: inline-block;
    max-height: 170px;
    overflow: auto;
    width: 100%;
}
.button-block {
    position: sticky;
    bottom: 0px;
    text-align: center;
    background: white;
    margin: 10px;
    .btn-group {
        margin: 0 15px;
    }
    .btn-bordered {
        border-radius: 4px;
        border: solid 1px #8e8e8e;
        background: #fff;
        color: #4b4b4b;
        line-height: 34px;
        width: 40%;
        margin-left: 15px;
    }
    .btn-secondary-green {
        border-radius: 4px;
        background-color: #7affad;
        color: #4b4b4b;
        line-height: 36px;
        width: 38%;
        margin-right: 15px;
    }
}

.menu-filter-item-title {
    color: $text-color-primary;
    font-weight: normal !important;
    font-family: $font-family-Regular !important;
}
