<div class="view-container">
    <div class="container-fluid">
        <app-full-page-loader *ngIf="pageLoading"></app-full-page-loader>

        <div id="material-management-container" class="material-management-container">
            <div id="material-management-header" class="row header no-border">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-search pt-3">
                    <div class="page-title">
                        <div>{{ 'Material Library management' | translate }}</div>
                        <div class="page-description">
                            {{ 'Detailed view of the material associated.' | translate }}
                        </div>
                    </div>
                    <div class="header-search" *ngIf="isMaterialsAvailable && materialsFilters">
                        <div class="title-right-search">
                            <input
                                type="text"
                                class="search"
                                placeholder="{{ 'Type and press enter to search' | translate }}"
                                [(ngModel)]="searchText"
                                (keyup)="searchMaterials($event)"
                                data-cy="material-management-search"
                            />
                            <i class="fa fa-search"></i>
                        </div>
                        <!-- <button type="button" class="btn btn-lg btn-bordered pull-right btn-gradient cs-btn mr-15"
                            (click)="openImportExcelModal()">
                            <img src="{{ env.IMG_URL }}images/upload-blue-icon.png" alt="Import" />
                            <span>{{ 'Import using Excel' | translate }}</span>
                        </button> -->
                    </div>
                </div>
                <!-- col -->
            </div>
            <!-- row -->

            <div
                id="filter-bar-wrapper"
                class="row filter-bar-wrapper"
                *ngIf="isMaterialsAvailable && materialsFilters"
            >
                <div class="col-md-12">
                    <ul class="filter-bar-container">
                        <li *ngFor="let filter of materialsFilters | keys; let filterInd = index">
                            <app-tt-multi-select-search
                                (selectionChange)="handleFilterSelection()"
                                (refreshFilter)="refreshFilter()"
                                [label]="filter.key"
                                [options]="filter.value"
                                [filter_session]="filter_session"
                                [optionsParam]="optionsParam"
                                *ngIf="!isAGroup(filter.value)"
                                [data_cy]="removeSpace(filter.key)"
                            >
                            </app-tt-multi-select-search>
                        </li>
                        <li class="reset-filters">
                            <button
                                class="button-badge mat-button btn btn-gray"
                                (click)="resetAllFilters()"
                                data-cy="material-management-reset-all-filters"
                            >
                                {{ 'Reset all filters' | translate }}
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 col-xs-12 col-s-12 col-lg-12 sort-by">
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 total-count">
                            <div class="float-l" *ngIf="materials.length > 0 || totalCountFlag">
                                <card-pagination
                                    [paginationStart]="pagination.from + 1"
                                    [fetchSize]="pagination.size"
                                    [totalItemsCount]="totalCount"
                                    [moduleName]="'Materials'"
                                    (previous)="onScroll('back')"
                                    (next)="onScroll('next')"
                                ></card-pagination>
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div dropdown class="dropdown sort-dropdown">
                                <a dropdownToggle data-toggle="dropdown" class="dropdown-toggle">
                                    <span class="sort-name"
                                        >{{ 'Sort By' | translate }}
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul *dropdownMenu class="dropdown-menu">
                                    <li>
                                        <mat-radio-group
                                            [(ngModel)]="sortByFilter.sortBy"
                                            (change)="handleSortBy($event)"
                                        >
                                            <mat-radio-button
                                                *ngFor="let sortByValue of sortByValues; let ind = index"
                                                [value]="sortByValues[ind].key"
                                            >
                                                {{ sortByValue.value | translate }}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </li>
                                </ul>
                            </div>
                            <!-- Sort Dropdown -->
                        </div>
                        <!-- Column -->
                    </div>
                    <!-- Row -->
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->

            <div class="row material-management-table">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pd-0">
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table custom-table table-striped">
                                <thead>
                                    <tr>
                                        <!-- <th class="checkbox-width">
                                            <mat-checkbox [checked]="hasUserSelectedAllMaterials()"
                                                (change)="handleSelectAllMaterials($event)">
                                            </mat-checkbox>
                                        </th> -->
                                        <th class="action-space pl-1">{{ 'Material Name & Number' | translate }}</th>
                                        <th>{{ 'Supplier Code' | translate }}</th>
                                        <th>{{ 'Supplier Name' | translate }}</th>
                                        <th>{{ 'Factory Code' | translate }}</th>
                                        <th>{{ 'Factory Name' | translate }}</th>
                                        <th>{{ 'Composition' | translate }}</th>
                                        <th>{{ 'Material Type' | translate }}</th>
                                        <th>{{ 'Traceability Tags' | translate }}</th>
                                        <th *ngFor="let field of customFieldDisplayList">
                                            {{ field.name }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody [ngClass]="{ 'tbody-max-height': userSelectedMaterials.length > 0 }">
                                    <tr *ngIf="!fetchingMaterialsData && materials.length === 0">
                                        <p class="content-center">
                                            {{ 'No Materials available!' | translate }}
                                        </p>
                                    </tr>
                                    <tr *ngIf="fetchingMaterialsData">
                                        <p class="content-center">
                                            <app-spinner [small]="true"></app-spinner>
                                        </p>
                                    </tr>
                                    <tr
                                        *ngFor="let material of materials; let materialInd = index"
                                        (click)="navigateToDetailPage(material)"
                                        class="material-detail-row"
                                    >
                                        <!-- <td class="checkbox-width">
                                            <mat-checkbox [checked]="hasUserSelectedMaterials()"
                                                (change)="handlePOSelect($event, material)">
                                            </mat-checkbox>
                                        </td> -->
                                        <td *ngIf="material.internal_article_name; else notAvailable">
                                            {{ material.internal_article_name }}
                                        </td>
                                        <td
                                            *ngIf="material.supplier && material.supplier.length > 0; else notAvailable"
                                        >
                                            <span *ngFor="let supplier of material.supplier; let isLast = last">
                                                {{ supplier['reference_id'] }}{{ isLast ? '' : ', ' }}
                                            </span>
                                        </td>
                                        <td
                                            *ngIf="material.supplier && material.supplier.length > 0; else notAvailable"
                                        >
                                            <span *ngFor="let supplier of material.supplier; let isLast = last">
                                                {{ supplier['name'] }}{{ isLast ? '' : ', ' }}
                                            </span>
                                        </td>
                                        <td
                                            *ngIf="material.supplier && material.supplier.length > 0; else notAvailable"
                                        >
                                            <span *ngFor="let supplier of material.supplier; let isLast = last">
                                                {{ supplier['facility_reference_id'] }}{{ isLast ? '' : ', ' }}
                                            </span>
                                        </td>
                                        <td
                                            *ngIf="material.supplier && material.supplier.length > 0; else notAvailable"
                                        >
                                            <span *ngFor="let supplier of material.supplier; let isLast = last">
                                                {{ supplier['facility_name'] }}{{ isLast ? '' : ', ' }}
                                            </span>
                                        </td>
                                        <td
                                            *ngIf="
                                                material.material_composition &&
                                                    material.material_composition.length > 0;
                                                else notAvailable
                                            "
                                        >
                                            <span *ngFor="let comp of material.material_composition; let isLast = last">
                                                {{ comp.composition }}% {{ comp.value }}{{ isLast ? '' : ', ' }}
                                            </span>
                                        </td>
                                        <td
                                            *ngIf="
                                                material.product_type && material.product_type.value;
                                                else notAvailable
                                            "
                                        >
                                            {{ material.product_type.value }}
                                        </td>
                                        <td
                                            *ngIf="
                                                material.identifier_tags && material.identifier_tags.length > 0;
                                                else notAvailable
                                            "
                                        >
                                            <span *ngFor="let tag of material.identifier_tags; let isLast = last">
                                                {{ tag }}{{ isLast ? '' : ', ' }}
                                            </span>
                                        </td>
                                        <td *ngFor="let customField of customFieldDisplayList">
                                            {{
                                                material['custom_fields']
                                                    ? material['custom_fields'][customField.id]
                                                    : ('Not Available' | translate)
                                            }}
                                        </td>
                                        <ng-template #notAvailable>
                                            <td class="content-grey">
                                                {{ 'Not Available' | translate }}
                                            </td>
                                        </ng-template>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="userSelectedMaterials.length > 0">
                                    <tr>
                                        <td>
                                            <div class="table-footer-block">
                                                <ul class="table-footer-block-inner">
                                                    <li class="table-footer-block-inner-left"></li>
                                                    <li class="table-footer-block-inner-right">
                                                        <div class="material-management-button-block">
                                                            <button
                                                                class="btn cancel-btn"
                                                                type="button"
                                                                (click)="handleCancelClick()"
                                                            >
                                                                {{ 'Cancel' | translate }}
                                                            </button>
                                                            <button
                                                                class="btn submit-btn"
                                                                type="button"
                                                                (click)="submitMaterials()"
                                                            >
                                                                {{ 'Submit' | translate }}
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
