.tt-expansion-panel-wrapper {
    .blue-title {
        color: #325992 !important;
        font-size: 14px;
    }
    .title-label {
        width: 120px;
        display: inline-block;
    }
    .cursor-pointer,
    .cursorp {
        cursor: pointer !important;
    }
}
