@import '~styles/variables';
.modal-input-group-container {
    color: #325992;
    font-family: 'Source Sans Pro-Regular';
    font-size: 16px;
    max-height: 250px;
    overflow: auto;
}
.action-icons-big,
.action-icons-small {
    font-size: 19px;
    color: #777;
    height: 35px;
    width: 35px;
    margin-right: 5px;
    background: $button-action-background;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.action-icons-small {
    font-size: 14px;
    height: 20px;
    width: 20px;
}
