@import '~styles/variables';

.valueProcess-chip-style {
    background: rgb(156, 253, 205);
    color: rgb(3, 63, 141);
}
.materials-chip-style {
    background: rgb(156, 242, 253);
    color: rgb(3, 63, 141);
}
