@import '~styles/variables';

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.add-data-to-tree-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    .add-data-to-tree {
        padding: 10px;
        border: 1px dashed #bfbfbf;
        margin-left: 10%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        cursor: pointer;
    }
}
